[2016-03-17 19:20] anadahz opened #213 "Provide a way for the ooni-explorer users to communicate mistakes and false positives/negatives"
Short for a report button that marks reports from users as potential false positive/negative.
Adding a static text on the report page such as:

[code]

Ideally (maybe a separate issue) have a function that gathers all the false positives/negatives tags as voted by the users and based on that improves the filter queries.

[2018-01-26 15:41] agrabeli opened #1 "Contextual pages/sections"
OONI network measurement data is great, but context is required. To this end, I propose that we account for some "contextual pages" in the revamped OONI Explorer that are open for community contributions/editing.

In previous community meetings and discussions, we identified the following **types of contextual information** that would be great to have in OONI Explorer:

1. Network landscape (types

[2018-01-26 15:44] agrabeli commented on #1
We may also want to consider adding support for translating those contextual pages/sections.

[2018-01-26 16:09] agrabeli commented on #1
Since we don't have funds to support the development of a Wiki linked to OONI Explorer, I guess we could provide contentful accounts to partners and trusted community members. And when/if funding for the development is available, we could create a wiki and open it up to the public.

[2018-05-29 03:50] hellais opened #2 "Implement revamped OONI Explorer"
Canonical link to mockups: https://design.ooni.io/mockups/explorer

Attached here are the mockups.

The landing page is still WIP.

[Explorer Revamp Mockups 32.pdf](https://github.com/ooni/explorer/files/2046694/Explorer.Revamp.Mockups.32.pdf)

cc @elioqoshi

[2018-05-29 12:37] elioqoshi commented on #2
I plan to have a landing page draft done for tomorrow

[2018-06-04 17:36] sarathms opened #4 "Links do not allow user to perform actions beyond clicking"
Like "Open in a new tab", middle click, long press on mobile etc.

**Possible Solution:**
Use `<a>` instead of `<span>` when defining styles for links.

[2018-06-05 10:16] elioqoshi commented on #2
[OONI Explorer Views Prototype v34.pdf](https://github.com/ooni/explorer/files/2071964/OONI.Explorer.Views.Prototype.v34.pdf)

PDF attached.

[2018-06-05 10:30] elioqoshi commented on #2
Here is also the prototype on Adobe XD where you can comment on specific hotspots as well:

https://xd.adobe.com/view/5ce42d4b-386e-44dc-679e-f509e9dc1a36-2ad5/

[2018-06-05 13:30] elioqoshi commented on #2
@sarath @hellais  you can access the specs of the views here:
https://xd.adobe.com/spec/d0d13757-52b6-49ba-5c5f-62e3e9143222-a6e0/

Might be helpful. Keep in mind that they might not be pixel perfect yet.

[2018-08-01 15:56] hellais commented on #2
This ticket contains some useful information, that may still be relevant: https://github.com/ooni/design-system/issues/6/.

But we should use only one of the two ticket to track the progress on this to avoid confusion.

[2018-08-01 16:00] hellais opened #9 "Finish the footer component"
We currently have a very flashy footer component, but the links are not pointing anywhere.

It would be great if @elioqoshi (and maybe @agrabeli) were to come up with what should actually be inside of the footer and where the various links should point to.

Here is how the footer currently looks like:

![screen shot 2018-08-01 at 18 00 08](https://user-images.githubusercontent.com/424620/43533298-

[2018-08-01 16:07] hellais opened #10 "Implement the country profile pages"
[Link to mockup](https://design.ooni.io/mockups/explorer/screen/03270981-207b-4a23-a289-868cf2188ea5/Country-Page/)

What needs to happen here:

* [x] Implement missing API endpoints: https://github.com/ooni/api/pull/77

* [x] Implement or select a table component suitable for our use case

* [x] Implement charts for country page
- Bar chart for "types of blocked websites"
- Sparkline for "Measure

[2018-08-01 16:10] hellais opened #11 "Implement the measurement pages"
[Link to mockup](https://design.ooni.io/mockups/explorer/screen/2aa47b84-d76b-4851-8555-d67cd2de8059/Web-Connectivity-Measurement/)

Every measurement type needs to have a view showing the results in OONI Explorer.

The pattern to follow here, I think, could be similar to that taken for probe-desktop.

See: https://github.com/ooni/probe-desktop/tree/master/renderer/components/nettests

In particul

[2018-08-01 16:12] hellais opened #12 "Implement the search page"
Here are some items that still need to be done:
* [ ] Add hints and validation to the ASN input box
* [ ] If another search query is done we should terminate previous queries (see: #20)
* [x] Only list countries where we actually have measurements in
* [x] Populate the list of test_names from a more canonical source (maybe the API?)

[Link to mockup](https://design.ooni.io/mockups/explorer/screen/

[2018-08-01 16:14] hellais opened #13 "Ensure props are validated"
There are several components in which prop validation is not done properly (hear that tongue twister).

We should go through them and make all the eslint tests be green 📗 !

[2018-08-01 16:17] hellais opened #14 "Add translation support"
We should use a similar pattern (and the same library) we use in probe-desktop: https://github.com/ooni/probe-desktop/blob/master/renderer/components/withIntl.js.

However two main differences need to be taken into account:

1. We don't want to have to specify all the possible strings we will use in OONI Explorer a-priori and we should rather use the pattern of putting a `<FormattedMessage default

[2018-08-01 16:19] hellais opened #15 "Add support for pulling content in from contentful"
We would like to make it possible for editor, such as @agrabeli, to edit the content pages of OONI Explorer from the contentful CMS.

This ticket is about integrating contentful into OONI Explorer and making it possible to load the country page content from contentful.

For how contentful integration with next.js should look like, see: https://github.com/OpenObservatory/ooni-website/tree/next.js.

[2018-08-01 17:01] elioqoshi commented on #2
Updated specs here: https://xd.adobe.com/spec/2f585e0f-1a7e-4f6c-41f9-fa411520998e-5969/

[2018-08-02 11:14] hellais commented on #2
The canonical URL for the mockups is: https://design.ooni.io/mockups/explorer/

[2018-08-04 14:38] elioqoshi commented on #9
We never actually disucssed what the footer content should be. Consider it more of a layout as it is right now and depending on what we think is most suitable, we can alter it. It would be good to get input from @agrabeli on what would be best relevant here.

Also is there a way to show only reports on the websites without the generic blog?

[2018-10-12 16:12] sarathms opened #18 "Use corrected name for color fuschia"
Change to `fuchsia` in https://github.com/ooni/explorer/blob/master/components/test-info.js#L26

[2018-11-20 18:01] darkk commented on #11
Some notes from my 1:1 discussion with @sarathms on 09 Nov 2018 based on the following state of measurement header
![ooni-explorer-next 2018-11-20 20-56-20](https://user-images.githubusercontent.com/21046/48793071-e5746f80-ed06-11e8-8012-97cf4e270003.png)
- [ ] AS name is needed. Note, AS name may be "long", so it should overflow nicely
- [ ] Runtime deserves more human-readable formatting
- [ ] D

[2018-11-20 18:13] darkk opened #19 "Reduce number of web assets at /countries"
https://ooni-explorer-next.test.ooni.io/countries loads "slowly" despite being mostly static content

"Slowly" is ~10.5 seconds on 100 Mbit/s connection. That seems to be limited by number of parallel requests the browser sends to the server (six) as a query is sent for each of 256 web assert (mostly, for flags). So that's ~44 round-trips to the server to load the page. That correlates well with R

[2018-11-20 18:28] darkk opened #20 "Terminate search API query if user navigates to another filter"
`/search` page does not terminate API query when user switches virtual "tabs". E.g. the following screenshot was reproduced using following sequence of actions:
- open https://ooni-explorer-next.test.ooni.io/search
- wait till "all results" load
- go to "confirmed"
- wait for ~ half a second (API is currently extremely slow for that query)
- switch back to "all results", switch back and forth betw

[2018-12-10 15:38] sarathms opened #21 "Globe animation on the home page crashes page"
In a production deployment, the globe animation on the home page crashes the pages. First step is to reproduce it in the DEV environment where it doesn't occur right now.

The relevant browser console messages are:
[code]

[2018-12-12 13:57] sarathms commented on #21
The feature has now been disabled in the home page for now to prevent the page crash on the test instance.

[2018-12-12 17:02] hellais opened #22 "Add OONI Run integration to measurement pages"
It would be cool if the measurement pages, especially those for websites, included an OONI Run link which allows users that have the OONI Probe app installed to run the test for that website.

I suggest we do this as part of the scope of work related to "integration between apps and ooni explorer".

[2018-12-14 12:29] agrabeli opened #24 "Questions to answer: Country pages"
This ticket lists some of the core questions that I think are worth answering (with OONI data) in the new OONI Explorer country pages.

The main question to be addressed at the start of the page is: **What can OONI data tell me about censorship in X country? What are some of the censorship highlights?**

More detailed/test-based questions below:

# Websites

1. Which websites are blocked (and how)

[2018-12-14 12:54] agrabeli commented on #24
Here are some of the core questions that I ask when digging through OONI data on OONI Explorer to write research reports: https://github.com/ooni/pipeline/issues/61

[2018-12-15 04:05] sarathms opened #25 "Handle non-HTML HTTP responses when rendering Web Connectivity measurement"
`HttpResponseBodyContainer` throws an exception when it encounters non-string content. e.g for [this measurement](https://explorer.ooni.torproject.org/measurement?report_id=20170917T224102Z_AS12880_Omlea7iGgbh92Y4JoDZAIapJjh3jyXfbDuSfJVtvT5kDdQckVo&input=http://www.runescape.com), the response is an object with `{ data: <encoded string>, format: 'base64'}`

[2018-12-18 18:20] gabelula opened #26 "Wireframes for country profile pages"
First and second iteration for wireframes for the country profile pages.

Related to https://github.com/ooni/explorer/issues/10

[2018-12-18 18:24] gabelula opened #27 "User testing for country profile pages"
Usability study on country pages with community members. Related to https://github.com/ooni/explorer/issues/10

[2018-12-18 18:28] gabelula opened #28 "High resolution mocks for country profile pages."
Create final mocks for country pages. Related to https://github.com/ooni/explorer/issues/10

[2018-12-18 18:31] gabelula commented on #10
All this other issues need to be completed before implementation:

* [ ] Write up questions https://github.com/ooni/explorer/issues/24
* [ ] Wireframes https://github.com/ooni/explorer/issues/26
* [ ] User testing https://github.com/ooni/explorer/issues/27
* [ ] Mocks https://github.com/ooni/explorer/issues/28

[2018-12-18 18:36] gabelula opened #29 "Add support for showing which sites are blocked"
Add support to the country profiles pages for showing which sites are blocked

[2018-12-18 21:12] gabelula opened #30 "Support for which apps are blocked (IM and circumvention tools)"
For the country profiles pages, support for:

- Which censorship circumvention tools are blocked;
- Which instant messaging apps are blocked;

[2018-12-18 21:14] gabelula opened #31 "Show which middleboxes work for country profile pages"
Whether middleboxes (systems that could be responsible for censorship and surveillance) have been detected.

[2018-12-18 21:54] gabelula opened #32 "Kickoff brainstorm about highlights page"
Schedule a meeting between UX team and OONI to brainstorm what should be done of the highlights page.

[2018-12-18 21:57] gabelula opened #33 "Implement the highlights page"
Implement the highlights page as the landing page of the new site

[2018-12-18 22:11] gabelula opened #34 "Landing on Explorer from mobile and desktop apps."
Define the user experience for users landing on OONI Explorer from the mobile and desktop apps.

[2018-12-18 22:14] gabelula commented on #10
Related to https://github.com/ooni/explorer/issues/2

[2018-12-18 22:14] gabelula commented on #11
Related to https://github.com/ooni/explorer/issues/2

[2018-12-18 22:14] gabelula commented on #12
Related to https://github.com/ooni/explorer/issues/2

[2018-12-18 22:15] gabelula commented on #33
Related to https://github.com/ooni/explorer/issues/2

[2018-12-18 22:16] gabelula commented on #2
This issue is already covered in all the other tickets on implementation of the different pages.

[2018-12-18 22:16] #2 closed

[2018-12-19 15:58] elioqoshi commented on #24
Thanks @agrabeli !

i started drafting out a few views to help start a conversation around how these will end up looking.

Regarding Websites: when you say `Which websites are blocked (and how)?` do you also include Anomaly results or only Confirmed Blocked results? I suppose the former?

[2018-12-20 14:50] elioqoshi commented on #11
@sarathms quick feedback from my end:

- First off, in the mockups we have a wider body width, whereas in the implementation it's very narrow. Could you refer to the mockups layout width for that?

- Related to the first point, many font sizes are off as well: The header values are currently 24px but should be 28px. The headings in `Other Details` or `Raw Measurement Data` are also 22px but should

[2018-12-20 15:46] holantonela commented on #26
hey all!

I draw some ideas to think how users can navigate this page. I like the idea of having a Table of Contents as a sub-navigation menu. We can discuss cons and pros for each layout, but basically, we need a layout that contemplates on the first sight:

1. an overview
2. a table of contents menu
3. if a report of that country is available, then we should highlight it and have a [download] bu

[2018-12-21 05:48] hellais commented on #11
We finished a first iteration of this that implements views for all the tests.

Here is, as a reference, links to some measurement pages:

* Web Connectivity Anomaly: http://ooni-explorer-next.test.ooni.io/measurement?report_id=20181219T163526Z_AS30722_nxcsldvrp3xXTW5kFuCWh7xHPvwXhvhr78PcgV7XyP7kTJo4BN&input=http://thepiratebay.org
* Web Connectivity OK: https://ooni-explorer-next.test.ooni.io/mea

[2018-12-21 05:48] #11 closed

[2018-12-21 13:23] elioqoshi opened #35 "Measurement Pages design improvements and fixes"
Related to issue https://github.com/ooni/explorer/issues/11

We are collecting feedback here to do another iteration with fixes and design tweaks for the meaurement pages implemenation.

First review can be found here:
https://github.com/ooni/explorer/issues/11#issuecomment-449023602

[2018-12-21 17:12] elioqoshi commented on #11
Feedback continuing here: https://github.com/ooni/explorer/issues/35

[2018-12-21 17:13] elioqoshi commented on #35
@sarathms quick feedback from my end:

- First off, in the mockups we have a wider body width, whereas in the implementation it's very narrow. Could you refer to the mockups layout width for that?

- Related to the first point, many font sizes are off as well: The header values are currently 24px but should be 28px. The headings in `Other Details` or `Raw Measurement Data` are also 22px but should

[2018-12-21 18:08] gabelula opened #36 "‘confirmed blocking’ measurements"
Currently it's not possible to determine the "confirmed" flag of measurements from the raw measurement.

This flag is only available in the search listing of the API. We should come up with a way of delivering annotations from the pipeline stored in the metadb to the explorer measurement pages.

[2018-12-21 18:09] elioqoshi commented on #26
Thanks @holantonela !

@Others: I synced today with Antonela and reviewed wireframes among others. Please find 4 different directions for the layouts of the Country Pages, based on Antonela's sketches. These wireframes are a bit truthful to the scale and layout than the handwritten sketches I assume but as you can see from the sketch style, it's very rough and should just provide an idea of how th

[2018-12-21 18:10] gabelula opened #37 "Missing server location element from ndt/DASH test"
We need more information about this ticket.

[2018-12-21 18:11] gabelula opened #38 "Download measurement data in json"
The download measurement button uses Javascript and `datauri` to make the raw measurement be donwloadable. We should instead use `href` pointing to the raw measurement on the OONI API.

This allows non-js browser to download it, overcomes the datauri filesize limitatio and also makes it easier to share the download link.

[2018-12-21 18:13] hellais commented on #37
Basically this is about including the location of the NDT and DASH server in the measurement pages. For some reason it was at some point dropped from the mocks and we should find a way to re-add it there.

cc @elioqoshi @holantonela

[2018-12-21 18:13] gabelula opened #39 "Update pattern for showing failing measurements"
Example https://ooni-explorer-next.test.ooni.io/measurement?report_id=20181217T181225Z_AS55836_VWJS5HXHsuaQe9S1aygtrQVi2LZUCMKjkt907vcT0RkKdHJLDi

[2018-12-21 18:29] gabelula opened #40 "Add a LICENSE to this repository"
Add a license's file to this repository.

[2019-01-01 22:10] hellais commented on #12
The search page is for the most part done.

We leave this open as there are still a couple of final touches that should be done prior to the 2.0.0 beta, namely:
* [ ] Start date & end date filters don't work as expected (the filtering does not work and the address bar is not rewritten)
* [ ] Date filter selectors should validate that the date range is consistent (i.e. start_date < end_date < NOW()

[2019-01-01 22:15] hellais opened #43 "Make the measurements URL consistent with the current explorer"
In the current explorer a measurement is found at:

`https://explorer.ooni.io/measurement/$REPORT_ID?input=$URL`

In the revamped explorer the path is:

`https://explorer.ooni.io/measurement?report_id=$REPORT_ID&input=$URL`

Before we deploy OONI Explorer we should be sure that at the very least URL rewriting is in place to either do a 301 redirect or to serve at the same URL the old measurements

[2019-01-01 23:03] hellais commented on #38
This is done in: https://github.com/ooni/explorer/commit/263594d0dec96df5e129235a56d1190b68659c91

[2019-01-01 23:13] hellais commented on #36
In reality this is easier to do than I expected. An example of how these can be retrieved from the top level measurement page component can be seen in this commit: https://github.com/ooni/explorer/pull/42/commits/b56ffe684f4e239595fb09d5f4f92c4be22a4271.

 I would suggest that for the time being we don't do any pipeline or backend modifications to extract these fields or inject them into measureme

[2019-01-01 23:13] hellais commented on #36
I am reassigning this to sarathms as this should just be a matter of using those props inside of the components to show the relevant views.

[2019-01-02 13:48] #38 closed

[2019-01-02 21:26] #40 closed, assigned to gabelula

[2019-01-03 00:13] agrabeli opened #44 "Write copy for new OONI Explorer"
Copy needs to be written for the following pages:

* Home page
* Measurement pages
* Country pages

[2019-01-03 00:21] agrabeli commented on #24
@elioqoshi Yes, the former (also including anomalous results, in addition to confirmed blocked).

[2019-01-04 12:06] holantonela commented on #37
@elioqoshi could you link the iterated version including the location of the NDT and the DASH server here? Thanks!

[2019-01-04 12:55] elioqoshi commented on #35
I agree with doing changes in the design system as that is also making things easier to track later on. Ideally, everything (web at least) should be using a source from the design system and exceptions should be minimal.

Regarding the maxWidth:
960 is considered to be the standard for an optimal reading experience. This however is no blog but rather a web application with various columns, so rest

[2019-01-05 16:42] elioqoshi commented on #44
Assigning myself here as well as Copy and UX should go hand in hand and we should double check a few things.

[2019-01-05 16:55] elioqoshi commented on #37
Thanks for bringing this up, will update the mockups accordingly.

[2019-01-08 20:01] hellais commented on #26
@holantonela great work!

Here is some feedback:

Not all our reports are available in pdf format (actually most of them are not) and for some countries we have multiple publications some of which are full length research reports and some are shorter blog posts.
We should be sure to support presenting all the country relevant OONI publication on the country profile page and not just pdf reports.

[2019-01-09 02:49] agrabeli commented on #26
Thanks @holantonela! The Table of Contents and general proposed layout is very well thought out and looks great! :)

Most of the initial feedback that came to mind is similar to what @hellais already wrote, particularly his comments on ranking ASNs based on blocking & our current inability to infer throttling from NDT and DASH data.

Other than that, here are some other thoughts:

1. I really like

[2019-01-09 02:52] agrabeli commented on #26
Thanks @elioqoshi for working on this and for sharing detailed explanations! :) Unfortunately though I'm unable to see your work through the Figma link you shared (it appears to point to the OONI design system color palette). Can you please re-share the Figma link?

[2019-01-09 12:07] elioqoshi commented on #26
@agrabeli @hellais I'm not sure what happened there, this link should work:
https://www.figma.com/proto/Z6PtVLW7YkqcTRIRsO2Qzg/Explorer-Country-Pages?node-id=194%3A377&viewport=367%2C279%2C0.289624&scaling=scale-down-width&redirected=1

You can navigate to the other pages with the arrow keys or the bottom navigation when you hover over it.

[2019-01-09 21:09] agrabeli commented on #26
Thanks @elioqoshi for sharing the Figma link and for working on this. Overall, great job!

My feedback:

1. What type of information would be displayed in the "Overview stats" boxes at the top? Would those boxes be clickable, taking you to a separate page, or would they be graphs?

2. I like the idea of having the menu of items displayed on the left side of the page (and therefore have a preferenc

[2019-01-10 03:20] hellais opened #45 "measurement page: add support for showing the network name"
Currently we only show the ASN, but we don't show the network name as this is not being exposed via the OONI API or submitted as part of the measurement.

This ticket is about extending OONI Explorer to also resolve a ASN into a proper network name.

[2019-01-10 19:26] hellais opened #46 "Convert all copy strings into keys"
Similarly to the mobile app copy we should make all the strings into keys and put them inside of a spreadsheet so that @agrabeli can write copy for them (and also support translating them).

See: https://docs.google.com/spreadsheets/d/1GPkr_OyNhXJRTXnseyNbo2P4Du-i_W9kJdqjZG4HVkM/edit#gid=0

[2019-01-14 19:38] gabelula commented on #46
@hellais Who can do this ticket?

[2019-01-15 20:53] agrabeli commented on #26
@elioqoshi Regarding the Table of Contents, I'd propose the following changes:

1. Include cards on **circumvention tools** under the "Blocked" and "Not blocked" categories (1 & 2), and remove them from the "Access to information" section.

2. Re-name section 3 ("Access to information") to "Network characteristics" (for now => perhaps we can think of a better title at a later stage). Having remove

[2019-01-16 04:35] sarathms opened #47 "Rewrite SummaryText component to avoid localizable strings as defaultProps"
[code]

The `is reachable` string needs to be localized and is tricky to do when it is defined as a default prop to a component. Filing this pre-emptively to make sure it doesn't go unnoticed. Yet to implement and see if it actually is a bug. Maybe it won't be.

[2019-01-16 23:52] elioqoshi commented on #26
Here a very rough draft of the country page more fleshed out in sections: https://www.figma.com/proto/Z6PtVLW7YkqcTRIRsO2Qzg/Explorer-Country-Pages?node-id=292%3A0&viewport=-128%2C543%2C0.0996821&scaling=min-zoom

I was not able to do as much progress as I hoped today as it's quite complex (I only did the first 3 sections)

Please note:

- The navigation bar would be sticky
- The main thing I need

[2019-01-17 01:23] hellais commented on #26
I really like the way this is going!

For starters, I would suggest we try to keep these mockups still at bit of a higher level of details (i.e. not so high resolution as they are now), so that we can

Some feedback on these mocks:

1. I think that the "Types of measurements" chart is not the most important bit of information and probably it's not something we want to have at all.

Ideally the typ

[2019-01-17 02:17] agrabeli commented on #26
Thanks @elioqoshi for designing this wireframe, it looks great!

In addition to @hellais feedback (which touches upon many of the points I also wanted to make), I have the following feedback:

1. Perhaps the menu items (overview, manipulation, etc.) could go on the left side of the page (similarly to the 1st wireframe mockup you previously shared), thus eliminating the extra white space?

2. The "

[2019-01-17 17:23] sarathms commented on #46
The keys are being collected in [this spreadsheet](https://docs.google.com/spreadsheets/d/1QAeDVF5wYj7bnTE6rJ0XX3C8sBF0o6A0TxeLw9fpTvM/edit#gid=0)

The original strings are being retained for reference to help editing the copy. Feel free to drop the column if required after the exercise.

[2019-01-17 18:30] elioqoshi commented on #26
Thanks for the quick turnaround on the feedback!

++

I don't have a clear idea of exactly which stats to show there, so as I said, treat them more as placeholders to show some information we deem important. They are applicable to the selected time period ('All time' in this case_ on the top of the page.

Though for the sake of completeness, explaining what I had in mind for these:

In how many ne

[2019-01-17 18:43] elioqoshi commented on #26
Yeah that was the other pattern I wanted to try as well. Not sure how that would eliminate white space rather than add more to it since the navigation would take 1/3 or 1/4 of the body width leaving respectively 2/3 or 3/4 to the actual content, whereas in this past iteration, the full width would be available for the actual content. It might work better, but there will definitely be more white sp

[2019-01-17 19:13] holantonela commented on #26
@elioqoshi great start!

Some comments:

- Let's keep it on wireframe level. Typography is ok. The color choices for those header elements needs review. Let's focus on content and hierarchies at this stage so we can iterate quickly and we don't get loose in the details.

- I'd suggest you don't paginate on this page. A View All button will move the user to the result page of the respective query.

[2019-01-17 19:53] hellais commented on #26
Hum. I fear that this stats is going to be quite misleading, because: a) It's hard to quantify exactly how many network there are in a country b) Even if we do quantify it all these networks may not necessarily be usable by users.

I would suggest dropping this stat at least at the level of per test group. We can include something related to this in the measurement quality section, though.

This i

[2019-01-18 02:50] hellais opened #49 "Add support for showing "measurement is still being processed""
When a measurement has been submitted to a collector, but is still being processed by the pipeline we should be able to show that in the explorer measurement pages.

This is related to: https://github.com/ooni/probe/issues/816

[2019-01-20 23:11] holantonela commented on #26
@elioqoshi I think this @agrabeli's idea is 👌.

[2019-01-20 23:39] hellais commented on #26
I am going to recap here as well my latest feedback on: https://www.figma.com/proto/Z6PtVLW7YkqcTRIRsO2Qzg/Explorer-Country-Pages?node-id=296%3A119&viewport=-4939%2C1837%2C0.693457&scaling=min-zoom

Things I really liked:

• The pills for the blocked categories are really neat

• The sticky side bar

Feedback/comments:

1. 🎏It's very important that results are presented on a per network basis. Thi

[2019-01-21 00:57] agrabeli commented on #26
I agree with @hellais latest feedback.

@hellais @elioqoshi @holantonela I think I may be confused, but I'd like to flag an issue and seek clarification. Where will the Accessible results (for websites, IM apps, circumvention tools) be displayed? How will the users find these results? Would they have to search for them via the Search page, or will they be displayed in the country page as well? If

[2019-01-30 21:51] sarathms opened #50 "Explain that HTTP Requests were timed out for anomalous Web Connectivity tests"
## Expected Behavior
A message telling the user that the section is empty because there is no recorded data in the measurement.

## Actual Behavior
Shows just the heading **`HTTP Requests`** and nothing else.

## Steps to Reproduce the Problem

  1. Open a web connectivity measurement test page e.g [this](http://localhost:3100/measurement?report_id=20190128T161326Z_AS12389_SaBZjZCSSznOniiddu9JQnq3

[2019-01-31 20:33] agrabeli commented on #27
This is done. We interviewed 7 community members.

[2019-01-31 20:59] #27 closed

[2019-02-01 17:54] sarathms commented on #47
Fixed in 03a8d1c

[2019-02-05 21:47] #46 closed

[2019-02-18 19:42] gabelula commented on #12
@elioqoshi did you have any time to review this one?

[2019-02-18 20:23] elioqoshi commented on #12
@gabelula Thanks for bringing this to my attention. I haven't finished my review yet, will wrap it up tomorrow.

[2019-02-19 00:04] sarathms commented on #12
Looking into refactoring the search page components to make the URL rewriting more responsive.

[2019-02-21 22:18] sarathms opened #52 "Make search filters context-aware"
## Expected Behavior
Fields like `Input` in the search page filter sidebar should not be active/effective when used for certain tests like WhatsApp, DASH etc.

## Actual Behavior
When a search term is included in `Input` field, it fails to show the measurements which match the rest of the search criteria.

## Steps to Reproduce the Problem

  1. Open search page
  2. Select `Telegram` under `Test

[2019-02-25 17:37] gabelula commented on #28
@elioqoshi , you already have this, right?

[2019-02-26 17:19] elioqoshi commented on #28
@gabelula Yep, this has been cleared for handoff.

[2019-02-26 19:48] #28 closed

[2019-02-26 20:51] #26 closed

[2019-02-26 20:56] hellais commented on #26
The link to the latest mocks is: https://www.figma.com/file/Z6PtVLW7YkqcTRIRsO2Qzg/Explorer-Country-Pages?node-id=855%3A14837

[2019-03-11 15:08] #24 closed

[2019-03-11 15:08] elioqoshi commented on #24
Closing this as the mockups are finished and implementation is in progress.

[2019-03-12 14:45] hellais commented on #33
This is effectively the landing page of OONI Explorer. A first iteration of this which is an MVP (doesn't include highlights) is implemented here: https://www.figma.com/file/OElUj1XR5SmbXUpWVzl8iton/OONI-Landing-Page?node-id=1%3A393.

cc @elioqoshi

[2019-03-13 09:26] elioqoshi commented on #33
So are we getting rid of the highlights page? Renaming this issue then.

[2019-03-15 13:41] hellais commented on #12
So to address the items I have assigned to myself, I have now implements bits of this as part of: https://github.com/ooni/api/pull/77

This can be done by fetching the API endpoint: http://api.test.ooni.io/api/_/countries

This can be obtained via: http://api.test.ooni.io/api/_/test_names (this actually already existed)

It may be useful to add also test_group support to this endpoint, but we can

[2019-03-15 14:50] agrabeli commented on #33
I'm thinking that requiring users to know that they have to click Search or Countries, then filter the measurements based on test names that they may not be familiar with, etc may be a bit too complicated.

The landing page offers the opportunity to inform users of what are some of the exciting types of things that they can expect to find on OONI Explorer.

Therefore, perhaps we can show users tha

[2019-03-15 15:47] agrabeli commented on #32
Note: The comment below was originally posted here: https://github.com/ooni/explorer/issues/33

I'm thinking that requiring users to know that they have to click Search or Countries, then filter the measurements based on test names that they may not be familiar with, etc may be a bit too complicated.

The landing page offers the opportunity to inform users of what are some of the exciting types of

[2019-03-15 20:07] anadahz opened #54 "Vanilla tor: Set invalid flag on reports with short run time test"
I'm not sure if this is the right repository to add this ticket, feel free to move it.

On Vanilla Tor test reports with a very short `test_runtime` < 1 second and `timeout`: 300 should be flagged as invalid as this not really possible.
Most probably the client has a faulty tor installation.

Example measurement:
https://explorer.ooni.torproject.org/measurement/20181011T003052Z_AS37576_C4dlyUSwej1

[2019-03-18 10:53] hellais commented on #54
Either that or the clock has ticked backwards.

[2019-03-22 14:05] sarathms opened #55 "Show progress indicator when navigating between pages"
Something on the lines of [this example](https://github.com/zeit/next.js/blob/master/examples/with-loading/pages/_app.js).

[2019-03-22 17:46] agrabeli commented on #12
In the Search page, we display colour-coding (red, green, orange, yellow) based on specific types of results ("blocked", "reachable", "anomaly", "error") which only really apply to the Web Connectivity test (though they also apply, to some extent, to the IM tests as well).

Since we're also displaying numerous other tests as well (which render completely different types of results), I propose the

[2019-03-25 15:04] hellais commented on #10
This is done as in it's ready for beta review.

[2019-03-25 15:05] hellais commented on #33
From the perspective of a beta it's ready for review.

[2019-03-25 15:06] hellais commented on #35
@elioqoshi @holantonela this is ready for review from the perspective of a beta. It is deployed here: https://ooni-explorer-next.test.ooni.io

[2019-03-26 15:55] sarathms opened #56 "Show better 404 page for invalid measurement pages"
## Expected Behavior
When an invalid `report_id` is passed into the measurement page, we should convey it clearly to the user.

## Actual Behavior
Just shows a simple message on blank page.

[2019-03-26 17:00] hellais opened #57 "Country page text is boilerplate"
The text in the country page is boilerplate (ex. “Thanks to OONI Probe users, 199 network measurements have been collected from Burkina Faso since 23/02/2019”) it should either be dropped or populated.

[2019-03-26 17:03] hellais opened #58 "Country list: tighten up the padding"
I think the padding and spacing in the country list is too much and I would suggest making it a bit tighter.

![Screenshot 2019-03-26 at 14 27 19](https://user-images.githubusercontent.com/424620/55017526-3831a100-4ff1-11e9-9452-0f58a1bcba03.png)

Ideally we would manage to fit a region inside of a page.

See for example the apple choose your country page (which the country list was inspired by):

[2019-03-26 17:03] hellais opened #59 "Country list: do not show regions where we don't have measurements"
Since we don’t have measurements from antartica we should probably drop that continent from the listing.

[2019-03-26 17:04] hellais opened #60 "Country list: fix anchors"
The anchors to the regions, I think due to the navbar being sticky, result in the section header being hidden under the navbar. See for example: https://ooni-explorer-next.test.ooni.io/countries#Americas.

As discussed with @sarathms it's probably best to go for the approach of putting the ID on an element which is offset to some amount.

[2019-03-26 17:05] hellais opened #61 "Search: drop normal text from the label"
We should drop the “Normal” label from NDT and Dash measurements inside of the search page. We should also rename “Normal” to OK for consistency with the legend.

[2019-03-26 17:05] hellais opened #62 "Country page: in a nutshell"
In a nutshell should show greyed out text and icon for values set to none.

[2019-03-26 17:08] hellais opened #63 "Improvement to the navbar stickiness"
Another thing to think about post-beta is how we handle the stickiness of the navbar and the navigation items that are inconsistent between the country list and the country page.

We discussed with @sarathms that it would be nice to also have the section headers in the country list go into the sticky navbar as you scroll down.

It's also I think especially important for the country page to include

[2019-03-26 17:10] hellais commented on #63
These react components may be useful:
https://github.com/yahoo/react-stickynode
https://react-sticky.netlify.com/#/stacked
https://lxieyang.github.io/blogs/tech-2018-08-18-reactstrap-gatsby-auto-hiding-navbar-trick/

[2019-03-26 20:37] sarathms commented on #62
Fixed in 4ce8d5b

[2019-03-26 20:45] sarathms commented on #9
This has been implemented as part of #53

[2019-03-26 20:47] sarathms commented on #14
Implemented in #48 and #53

[2019-03-26 21:01] sarathms opened #64 "Open search page results in a new tab"
By opening the result in the same tab, we lose the context and if/when the user goes back to the search results, they have to wait for the search query to fetch the same results again.

[2019-03-26 21:02] sarathms commented on #31
This was implemented in #53

[2019-03-26 21:05] sarathms commented on #30
This was partially implemented in #53. Data for circumvention tools is currently not available.

[2019-03-26 21:20] sarathms opened #65 "Fix bounding boxes of nav bar entries"
## Expected Behavior
Menu items should be clickable only on the item's content.

## Actual Behavior
The margins between menu items are clickable too.

[2019-03-26 22:46] sarathms opened #66 "Ability to search for country in Country list page"
This is in the mockup but hasn't been implemented yet.

[2019-03-26 22:51] sarathms commented on #58
Improved this a bit in 96bf492. Will wait for more comments before more development.

[2019-03-27 16:23] zero77 opened #67 "[Request] Domain Specific Results"
It would be useful to see domain specific results.
For example, to see what countries and ISPs have blocked a specific domain like signal.org, privacytools.io, torproject.org etcetera.
Thanks

[2019-03-30 16:42] hellais opened #68 "Add support for logging of exceptions"
I think it's useful, especially while developing, to log stacktraces using sentry.

This will allow us to have all the exceptions aggregated in a single place which makes following up on bugs easier.

The integration of sentry is mostly painless (at least it was in golang and for other js projects) see: https://github.com/zeit/next.js/tree/master/examples/with-sentry.

@sarathms I have sent you an

[2019-03-30 16:45] hellais commented on #68
Here is the relevant code snippet suggested by sentry:
[code]

[2019-04-09 22:47] sarathms opened #69 "Use animated loading indicators"
Currently uses `<div> Loading ... </div>` in a few places. To be replaced with spinner components from `react-spinners` or similar.

[2019-04-09 22:56] sarathms opened #70 "Fetch country-wise featured research/articles from OONI blog"
The country profile page has section to show links to featured articles related to the country. We need a way to fetch this data from a source. An array of `{title, link}` objects.

[2019-04-10 10:10] hellais opened #71 "Navigation bars in country list and country page"
I think we could come up with a better pattern for displaying the navigation bars inside of the country list and country pages.

The issue I see with the current solutions is that they are inconsistent across the two pages and I would like us to see if we can use a similar pattern used in the country list for the country page.

The pages in question are the following:
![Screenshot 2019-04-10 at 12

[2019-04-10 17:58] holantonela commented on #71
Yes. Let's unify the navigation pattern there. The sub nav should remain sticky at the top on both places, the Countries List and inside the Country page.

On the country pages, we can merge the country flag into the submenu, and make both sticky. See here:

![37](https://user-images.githubusercontent.com/7602174/55901898-b28d2400-5ba0-11e9-850b-3c476ae89b19.gif)

We may need to remove the left si

[2019-04-11 10:06] hellais commented on #71
@holantonela yes I like this!

Can we perhaps also make it so the country name is visible when you scroll down?

[2019-04-11 11:49] holantonela commented on #71
If we keep the country code? I'm afraid that the country name is very long. We could try both tho.

![Country Page - Scrolled](https://user-images.githubusercontent.com/7602174/55954936-6db3cc80-5c36-11e9-96d6-00ea3d2d0bdc.jpg)

[2019-04-11 15:57] hellais commented on #35
@elioqoshi @holantonela can you take a look at it and if it's good close this ticket?

[2019-04-11 16:02] hellais commented on #62
I see that it always that "in a nutshell" section always says "OONI data confirms the blocking of websites" for the websites section, even though the returned JSON says `0`.

I believe this has to do with the fact that:
[code]

So if `websites_confirmed_blocked` is zero (as is now the case for all countries) it will always say 100.

[2019-04-11 16:04] hellais commented on #60
Now it works great for the country listing. We should probably do a similar thing for the country page.

[2019-04-11 16:04] hellais commented on #14
Yes this is good. I say we close it.

[2019-04-11 16:04] #14 closed

[2019-04-11 16:05] hellais commented on #29
Yes this is done, though it currently does not work due to backend issues.

[2019-04-11 16:05] #29 closed

[2019-04-11 16:05] hellais commented on #31
Backend heuristics for this are missing, but the client side code is done. It's untested due to lack of backend logic.

[2019-04-11 16:06] hellais commented on #30
I say we consider this done and open a separate ticket for the circumvention tools.

[2019-04-11 16:06] #30 closed

[2019-04-11 16:07] hellais commented on #59
Yes this is done.

[2019-04-11 16:07] #59 closed

[2019-04-11 16:07] hellais commented on #58
To me this looks good. @holantonela @elioqoshi do you agree the padding is better now?

[2019-04-11 19:43] holantonela commented on #58
Looks good for me. @elioqoshi?

[2019-04-11 19:49] holantonela commented on #35
@hellais could you link one working link for each measurement status? Thanks!

[2019-04-12 03:00] sarathms opened #72 "Render markdown in localized content"
For localized rich-text content, the translated strings would be formatted in markdown and needs to be rendered that way.

[2019-04-12 12:08] hellais commented on #35
@holantonela you can find a list of them here: https://github.com/ooni/explorer/issues/11#issuecomment-449262759

[2019-04-12 12:12] hellais commented on #71
Yes I think that works great. It's mostly so that when people take screenshots or have scrolled down into the page they can remember what they are on.

The flag + the country name should be pretty intuitive and surely unambigous, so it should work fine.

@sarathms do you think this doable as part of explorer-beta or should we put it in the post-beta milestone?

[2019-04-12 15:04] sarathms commented on #71
I think this cannot be included in the beta milestone, to avoid a rush job. There is a chance that I can pick up a couple of items from post-beta bucket before we release it as beta. Will try and include this if possible.

[2019-04-12 18:18] #47 closed

[2019-04-12 18:35] sarathms commented on #62
[code]
This was written this way to test the component in the absence of real data. This was fixed in c8e744b and should work as planned now.

[2019-04-15 16:56] sarathms commented on #55
Added in df2e590

[2019-04-16 19:15] gabelula opened #73 "Support for which apps are blocked (circumvention tools)"
For the country profiles pages, support for:

- Which censorship circumvention tools are blocked;

Related to #30.

[2019-04-16 21:10] sarathms opened #74 "Cancel API calls when unmounting components"
Components which initiate network calls to API server should cancel requests in progress if having to unmount unexpectedly.

Use the `cancelToken` feature in [axios](https://www.npmjs.com/package/axios#cancellation) to achieve this.

Components like `WebsitesSection`, `NetworkPropertiesSection` etc.

[2019-04-17 15:42] elioqoshi commented on #35
@sarathms the measurement pages are still quite far from the mockups and we need to do these changes so we can get these up to speed. Please also refer to my first comment https://github.com/ooni/explorer/issues/11#issuecomment-449023602

Taking this page as an example:

http://ooni-explorer-next.test.ooni.io/measurement?report_id=20190326T163342Z_AS267164_tDXK6sBlPjHmi220kZRKZhY6fRBgqsLT6unDEfbfP

[2019-04-17 15:52] elioqoshi commented on #55
Is this live @sarathms?

[2019-04-17 15:54] elioqoshi commented on #58
The page looks perfect to me as well, thanks!

[2019-04-17 16:09] sarathms commented on #55
Yes it is live on https://explorer-beta.ooni.io
![image](https://user-images.githubusercontent.com/700829/56303251-8c6c0480-6109-11e9-8a1d-c96b591e0bcb.png)

But you might have to suggest a better color for the loading bar.

[2019-04-17 20:11] sarathms commented on #66
Added in 8b569109090adcfa02e4cde119a1f29afe515d75

[2019-04-17 20:16] sarathms opened #75 "Fix bug in App Stats component lifecycle method definition"
There is a typo in `/components/country/app-stats.js` where the lifecycle method is defined as `static getDerivedStateFromprops`. However, fixing this typo exposes a bug where the component doesn't behave as expected.

[2019-04-17 20:43] sarathms opened #76 "Show most measured AS number and name in Country overview"
As per mockup
![image](https://user-images.githubusercontent.com/700829/56319477-d5cf4a80-612f-11e9-8a68-0ada70a8e249.png)

This information is currently not readily available.

[2019-04-17 20:56] sarathms opened #77 "Footer background color missing in design system"
Footer is styled with a custom `#002c4b` which is not a named color in the design system theme. Opening this issue to address a less potential problem of not able to control the look and feel of the site through the theme.

[2019-04-17 21:03] #10 closed

[2019-04-17 21:03] #62 closed

[2019-04-17 21:03] #60 closed

[2019-04-17 21:03] #61 closed

[2019-04-17 21:03] #69 closed

[2019-04-17 21:16] sarathms commented on #57
This is now related to #76

[2019-04-17 22:15] sarathms commented on #43
We are now able handle the URLs used by the old explorer correctly. I only completed what was partially implemented in the initial code to handle these URLs. It used to ignore the `?input=url` portion which is now appended processed.

@hellais However, this isn't a 301 redirect. Do we still need to do this to address any search engine requirements?

[2019-04-17 22:20] sarathms commented on #4
This has been fixed across the site. All links are now standard HTML `<a>` tags.

[2019-04-18 10:18] hellais commented on #55
Yeah I think we should go for some other color as blue on blue barely visible. @elioqoshi @holantonela what do you think?

[2019-04-18 10:18] hellais commented on #66
This looks good to me. @elioqoshi @holantonela can you take a look?

[2019-04-18 10:19] hellais commented on #65
Which nav bar is this referring to?

[2019-04-18 10:21] hellais commented on #43
I don't think we should do a 301 redirect, but I think we should make changes to the links in the search page results and other pages that reference measurements to ensure they are following the old pattern.
Otherwise we will run into the issue of duplicating indexed pages.

[2019-04-18 10:22] hellais commented on #43
I have confirmed however that old links from OONI Explorer work well with the new one.

So the only remaining item to compete this is:
* Ensure measurement page links from other pages inside of OONI Explore use the pattern `/measurement/$report_id?input=XXX`

[2019-04-18 10:22] hellais commented on #9
This looks good to me. @elioqoshi @holantonela @agrabeli can you also take a look?

[2019-04-18 10:23] hellais commented on #4
Yes I confirm that this works. Closing.

[2019-04-18 10:23] #4 closed

[2019-04-18 10:24] hellais opened #78 "Make the point be a cursor when hovering over the explorer logo in the header"
Currently when I hover over the OONI Explorer logo in the upper right corner there is nothing to indicate that the item is clickable.

I think we should at the very least make the cursor a point (the little hand thingy) when you hover over it and maybe also give it a subtle effect on hover.

@elioqoshi @holantonela ideas for how to make it clear you can click on the OONI Explorer logo to go back t

[2019-04-18 10:25] hellais commented on #33
I say we keep this issue open until all the highlights page work is complete (i.e. adding also the content for the highlights).

[2019-04-18 10:36] elioqoshi commented on #55
Yeah, let's go with the anomaly color (Yellow 9 ) for the loading bar.

[2019-04-18 11:20] elioqoshi commented on #66
Search looks and works as intended. Thanks! This can be closed I'd say.

[2019-04-18 11:24] #66 closed

[2019-04-18 11:26] elioqoshi commented on #65
I suppose the main nav bar is meant here. I agree with Sarath on this one. I'd suggest a similar behaviour with how GitHub nav bar works (Pull Requests, Issues, Marketplace, Explore): https://github.com/

[2019-04-18 11:29] elioqoshi commented on #9
Looks good to me apart the OONI logo.

![image](https://user-images.githubusercontent.com/5436686/56358049-c27ab880-61dd-11e9-96e9-0085abb7be0b.png)

The light background logo has been used. We need to use the dark background logo

[2019-04-18 11:35] hellais commented on #55
I have deployed this to: https://explorer-beta.ooni.io/.

@elioqoshi check if it looks good and if so close this issue.

[2019-04-18 11:36] elioqoshi commented on #55
LGTM! Closing

[2019-04-18 11:36] #55 closed

[2019-04-18 13:15] hellais opened #82 "Reconsider the tabs for filtering by anomaly and confirmed"
Currently we use a tabbed navigation pattern for allowing users to filter through measurements by anomaly or confirmed.
![Screenshot 2019-04-18 at 15 13 06](https://user-images.githubusercontent.com/424620/56363466-974b9580-61ec-11e9-8144-e1264c8e556e.png)

In light of the fact that an anomaly or confirmed is not really a new page of the results page, but is rather just an attribute you are filter

[2019-04-18 13:19] hellais opened #83 "Disable the input form box when a test that doesn't support an input is selected"
I think that when the user chooses a test which doesn't support an input (example: WhatsApp) we should be removing (or disabling) the input form as it doesn't make sense to filter by input there.

[2019-04-18 14:59] hellais commented on #64
I think this is a UX question that @elioqoshi and @holantonela should think of.

Let push this to post-beta.

[2019-04-18 15:01] hellais commented on #76
To be honest I am not entirely sure this of the usefulness of this bit of information being present in the text.

We already sort the relevant sections by the network which has the most measurements on the API endpoints.

[2019-04-18 15:05] hellais opened #84 "Tooltips for charts are not usable"
Currently when I hover over a bar chart in the country page the tooltip is going to be cropped most of the time making the information not visible.

![Screenshot 2019-04-18 at 17 04 27](https://user-images.githubusercontent.com/424620/56370723-0aa8d380-61fc-11e9-9cfb-124d668a7023.png)

We should find a simple way to make at least all the content in them be readable.

[2019-04-18 15:13] elioqoshi commented on #84
Could the tool tips also be styled like in the mockups?

i.e:
![image](https://user-images.githubusercontent.com/5436686/56371375-4c864980-61fd-11e9-983b-bd6cd48a2918.png)

[2019-04-18 15:22] elioqoshi commented on #76
I do think that it's useful to explicitly state the most measured AS as it's not available information otherwise as far as I knowbut if @agrabeli and @hellais think it's not critical information, let's omit it.

[2019-04-18 16:01] hellais commented on #84
@elioqoshi the tooltip should scale to support at least all the possible values, ie: Total, failures, confirmed, anomalies.

I think that a tooltip is not the right pattern here and I think we should probably have a fixed legend that is updated when you hover over the item.

@sarathms In looking at this bit of code I also noticed there is actually a bug in the rendering of the tooltip. You are reg

[2019-04-18 16:10] sarathms commented on #84
@hellais Additionally, that seems to be explain why the tooltip doesn't get triggered in lower parts of the graph. I clearly didn't understand what 'voronoi` means :-|

[2019-04-18 16:24] sarathms commented on #12
- [ ] Search results should be linked with the same schema that is used in the legacy explorer results.

[2019-04-18 16:30] sarathms commented on #12
@agrabeli, I think the first and second checklist items you mentioned [here](https://github.com/ooni/explorer/issues/12#issuecomment-475716307) are already done. But I will verify again and check them off.

I am a bit unsure about

It seems to make the columns a bit inconsistent. I agree that we should shove the URL in that column. Maybe we should use the last column as a miscellaneous one and put

[2019-04-18 18:01] darkk commented on #45
FYI, there are other sorts of inconsistencies as well. E.g. `originas` zone from `routeviews` can produce following records:

[code]

[2019-04-18 18:33] elioqoshi commented on #84
I should have specified that I meant the style mostly. middle alignment for these kind of values and the container shape (which would scale depending on the content).

I do think we should have addressed these in the mockup stage. What is the issue you see with the tooltips and the information needed to be conveyed?

[2019-04-19 15:36] hellais commented on #84
Yeah I am sorry for not having addressed this there. It wasn't clear that you were expecting also the on hover effects to be implemented as per the mocks.

I thought we had discussed that the dynamic elements should be discussed in the implementation based on what is feasible, but perhaps that was not clear.

This issue is that I don't think we can get it to fit inside of the cart component.

The

[2019-04-19 16:02] hellais commented on #84
So I was actually mistaken. The flyout component renders inside of a **separate** SVG container and it can be setup in such a way where it isn't cropped.

I managed to get this working properly inside of https://github.com/ooni/explorer/pull/86.

I am still not a huge fan of the tooltip style, but I think we can roll with it.

![Screenshot 2019-04-19 at 18 00 59](https://user-images.githubusercont

[2019-04-19 18:30] agrabeli commented on #44
This is done.

[2019-04-19 18:55] agrabeli commented on #33
The content for the Highlights has been written.

[2019-04-20 02:08] sarathms opened #87 "Improve responsiveness"
The pages have been developed with very little effort towards responsiveness. It seems to be much easier than anticipated to make most of the site viewable on smaller screens. Listing out specific actions that can help achieve this goal:

- [x] Use arrays to define widths for grid components e.g `<Box width={[1, 1/2]}>` across the site.
- ~Collapse the sidebars in search and countries pages into a

[2019-04-20 02:13] sarathms commented on #83
Similar to #52

[2019-04-20 12:52] elioqoshi commented on #84
The tooltips are rendered inside of the SVG viewport which has a fixed height and width. How you mocked them up I think is going to be pretty complex to implement in a way that is usable.

Ah I see. That makes sense.

Seeing as you fixed the latter to some extent, what is the issue you see here? The issue I see is information hierarchy related so namely I'd suggest to left-align the text, space ou

[2019-04-22 19:12] holantonela commented on #78
Yes. The entire `id="Logo"` should be an `<a>` element.

[2019-04-22 21:12] holantonela commented on #9
- [ ] At http://explorer-beta.ooni.io the `FAQ` link is `#`
- [ ] The OONI logo could go to the top
- [ ] `Global community measuring internet censorship around the world` needs a . at the end
- [ ] `© 2018 Open Observatory of Network Interference (OONI)` should say `2019`
- [ ] `Content available under a Creative Commons license` should link to https://github.com/ooni/license

[2019-04-22 21:22] holantonela commented on #64
Opening results in a new tab is not a common pattern for search engines. We can think about how to improve the search page for that mentioned scenario. For instance, we could show previous searches or we can allow users to save favorite queries for searches.
I don't think this is an issue we should handle on this release, tho.

[2019-04-23 14:05] hellais commented on #64
Yeah I agree with @holantonela with it being a bit unusual to open search results in new tabs.

The past search is a good idea, maybe we can rename this issue as that and push it to post launch?

[2019-04-23 14:08] hellais commented on #25
I added a fix for this in: https://github.com/ooni/explorer/commit/c7980c936f80fc94de8adf8ef4feb3b193bd2ff6

[2019-04-23 14:08] #25 closed

[2019-04-23 17:03] elioqoshi commented on #78
What Arturo said is exactly what needs to be done yes.

[2019-04-24 04:08] sarathms commented on #9
Do we have an FAQ? I couldn't find anything. @hellais @agrabeli

@holantonela Can you elaborate this?

[2019-04-24 09:51] hellais opened #90 "Fix overlap of tooltips in the country overview"
As mentioned by @sarathms in https://github.com/ooni/explorer/pull/86.

In the case I used as an example they weren't overlapping as much, but I can definitely see how if the data is quite stationary the tooltips can overlap quite often.

I would say that we deal with it by either:
* Making some tweaks to the style and positioning of the networks tooltip (ex. we don't need to repeat the date in th

[2019-04-25 08:59] elioqoshi commented on #33
For reference, layout for the Highlights on the Landing page here on the Figma:
https://www.figma.com/file/OElUj1XR5SmbXUpWVzl8iton/Explorer-Landing-Page?node-id=0%3A1

That includes the mobile version as well.

[2019-04-25 10:12] elioqoshi commented on #90
I agree with this too. I could walk through it and fix it with @sarathms probably?

[2019-04-26 09:30] #43 closed

[2019-04-26 10:59] elioqoshi commented on #12
I don't think it's ideal, but it's a quick solution. Wouldn't it look the same as HTTP Requests then?

[2019-04-26 11:01] elioqoshi commented on #77
Sorry, this slipped away. I remember that the darkest blue was still not dark enough for many use cases. We can go with blue9 here.

I do think there needs to be another color between gray9 and black though

[2019-04-26 16:12] hellais commented on #12
Yeah, but I don't think it matters. A user of search cares about a result pertaining to the accessibility of a website, I don't think they necessarily care too much if it was gathered with a web connectivity or a HTTP Request test (moreover HTTP Request is deprecated since more than 2 years now so it will show up less and less frequently in the results).

[2019-04-26 16:17] hellais commented on #58
I am looking at the country listing page and I still have the impression the padding is still a bit too much.

I find that bumping it down from the current `32px` `margin-top, margin-bottom` down to `8px` makes it more usable:

![Screenshot 2019-04-26 at 18 15 13](https://user-images.githubusercontent.com/424620/56821725-67853900-684f-11e9-99e0-10ac55caf02b.png)
![Screenshot 2019-04-26 at 18 15 24

[2019-04-26 19:37] holantonela commented on #87
@elioqoshi do you have mockups to attach to this ticket as a reference? Thanks!

[2019-04-27 08:28] elioqoshi commented on #87
The usual ones from Figma.

Landing Page: https://www.figma.com/file/OElUj1XR5SmbXUpWVzl8iton/Explorer-Landing-Page?node-id=0%3A1

Country Page and Measurement Page: https://www.figma.com/file/Z6PtVLW7YkqcTRIRsO2Qzg/Explorer-Country-Pages?node-id=1319%3A1136

[2019-04-27 09:17] elioqoshi commented on #58
@hellais I see what you mean. I think 8px is a bit too tight though. Let's do 16px? That will make the horizontal and vertical spacing similar I think.

[2019-04-27 09:20] elioqoshi commented on #12
Then let's do it.

I do think that the alignment and layout of elements in a search result row needs to be tweaked as well at some point but I leave triaging this to you.

[2019-04-27 09:20] #44 closed

[2019-04-27 09:23] elioqoshi commented on #71
I am working on the mockup of this right now and expect to finish it next week. Agree with what Sarath said.

[2019-04-27 10:10] elioqoshi commented on #71
Kinda related to: https://github.com/ooni/explorer/issues/63

[2019-04-27 10:11] elioqoshi commented on #56
This is actually a good opportunity to do some easter eggs and funny 404 art. Of course this should not be critical then.

[2019-04-29 14:30] hellais commented on #58
tbh I find the horizontal spacing too lax as well, but it works there because in any case we can't get more than 4 countries to fit horizontally given their current size.

OTOH saving up on vertical space can allow us to fit a whole extra row of countries by reducing it to 8px, which is why I was suggesting it.

[2019-04-30 08:38] sarathms commented on #90
I think I have figured out how to achieve this. Implemented something like that for the landing page charts [here](https://github.com/ooni/explorer/pull/92/commits/9346d67e70b83affb641084122bd9fb13ca14039#diff-3afb32e375548ef2747f1a89357f9febR71)
![image](https://user-images.githubusercontent.com/700829/56949599-595e4380-6b01-11e9-9e71-e261816d250c.png)

This a single tooltip rendered for two line

[2019-04-30 08:47] sarathms commented on #33
@elioqoshi  Are the horizontal dividers only supposed to show up on mobiles?
![image](https://user-images.githubusercontent.com/700829/56930361-69970400-6aaa-11e9-85a9-eec956af39e5.png)

[2019-04-30 14:18] holantonela commented on #87
Thanks @elioqoshi. I think the Search page is missing. Do we have it somewhere? Thanks!

[2019-04-30 14:25] sarathms commented on #65
This was fixed 65ce6aa

[2019-04-30 16:00] hellais commented on #78
This is fixed.

[2019-04-30 16:00] #78 closed

[2019-04-30 16:00] hellais commented on #65
@elioqoshi @holantonela can you look at this and if it's good close it?

[2019-04-30 16:00] hellais commented on #9
@elioqoshi @holantonela can you look at this and if it's good close it?

[2019-04-30 16:22] holantonela commented on #65
Is good.

[2019-04-30 16:22] #65 closed

[2019-04-30 19:49] sarathms opened #93 "Use Multiple Dependent Axes in landing page chart"
Show the 3 line charts with different y-axis in a single chart. Follow example [here](https://formidable.com/open-source/victory/gallery/multiple-dependent-axes)

[2019-04-30 19:56] sarathms opened #94 "Override styling of links and other elements in i18n markdown content"
## Expected Behavior
Translated content written in markdown format should also be styled according to the design-system.

## Actual Behavior
Translated content written in markdown format is rendered as plain HTML by the markdown parser. This makes elements like `<a>` switch back to default styling.

Use the `options.overrides` option of the `<Markdown>` component.

[2019-04-30 20:08] sarathms commented on #9
@holantonela has already seen this and approved on Slack. The pending item is the missing target for the **FAQ** link. I have requested @agrabeli to provide a link.

[2019-04-30 20:43] sarathms opened #95 "Force word-wrap on measurement id in measurment pages"
Since it is a long string, it overflows even in full width layouts. Use `word-wrap: break-word;` to forcefully break the text to the next line.

[2019-05-01 09:56] elioqoshi commented on #87
It's the XD file: https://design.ooni.io/mockups/explorer

Although we did a lot of changes live and not on the mockups afterwards.

[2019-05-02 02:12] sarathms commented on #33
@holantonela Can you confirm if we want to have these dividers only on mobile or can we have it on desktop as well? Currently we are unable to do it as easily as with, say bootstrap (`class='hidden-sm'`). Depending on how important it is for UX, I will either write a temporary fix or a longer term solution for the design system we use.

[2019-05-02 10:24] hellais opened #97 "Add effect to Explorer primary button on landing page"
I think the button on the landing page could use with some effect on hover and on click.

![Screenshot 2019-05-02 at 12 23 25](https://user-images.githubusercontent.com/424620/57069542-2e2c4d80-6cd5-11e9-9494-6d24b3c91234.png)

Maybe have the content of the button become filled with more white and make it darker on click?

@holantonela @elioqoshi what do you think?

[2019-05-02 10:26] hellais opened #98 "Duplicate copy for Network Performance section"
Currently the Network performance section says:

Where it should say

I believe @agrabeli originally reported this

[2019-05-02 10:28] hellais opened #99 "Add hover and click effect to the "report" and "explore" buttons on the landing"
![Screenshot 2019-05-02 at 12 26 41](https://user-images.githubusercontent.com/424620/57069713-af83e000-6cd5-11e9-95bf-e9e87fd87774.png)

Maybe related: https://github.com/ooni/explorer/issues/97

cc @holantonela @elioqoshi

[2019-05-02 10:29] hellais opened #100 "Links in censorship changes section are styled inconsistently"
The links in the Censorship Changes are not styled using the styles from the `<Link>` component.

![Screenshot 2019-05-02 at 12 28 38](https://user-images.githubusercontent.com/424620/57069807-eeb23100-6cd5-11e9-8df8-ccf93799aeaa.png)

I suspect it may be needed to override the markdown component element for an `<a>`.

[2019-05-02 10:30] hellais commented on #93
This is done I believe.

[2019-05-02 10:30] #93 closed

[2019-05-02 10:32] hellais opened #101 "Add vertical bar or dot on chart in the landing page Monthly coverage worldwide chart"
Currently the Monthly coverage worldwide chart doesn't have an indication of which datum on the line chart you have selected when you scrub over the chart.

![Screenshot 2019-05-02 at 12 31 20](https://user-images.githubusercontent.com/424620/57069917-3769ea00-6cd6-11e9-9b88-cc52f37f7554.png)

We should add either a vertical bar aligned to the date the user has selected or maybe make a dot appear

[2019-05-02 10:41] hellais commented on #82
As discussed with @sarathms we are going to aim to convert the tabs into a radio and put them into the side bar to make this view be decent on mobile.

I will move this into the beta milestone as it seems achievable to do it by then.

[2019-05-02 10:46] hellais opened #102 "Some font sizes are too big"
In some pages I get the impression the font sizes are way too big and disproportionate compared to the rest of the content.

Examples:

![Screenshot 2019-05-02 at 12 43 10](https://user-images.githubusercontent.com/424620/57070620-4f426d80-6cd8-11e9-974c-2f3d38ed8eba.png)
![Screenshot 2019-05-02 at 12 44 53](https://user-images.githubusercontent.com/424620/57070608-481b5f80-6cd8-11e9-83ed-579aa96f

[2019-05-02 10:46] hellais commented on #102
cc @holantonela @elioqoshi

[2019-05-02 10:49] hellais opened #103 "Do some rounding on the left Y axis on the country overview chart"
Currently the country overview chart the ticks are not rounded.

We should round to 1 or 2 max decimal digits to avoid cropping the axis markers.

![Screenshot 2019-05-02 at 12 47 23](https://user-images.githubusercontent.com/424620/57070711-903a8200-6cd8-11e9-9bb5-f0f17c4dfc95.png)

Note: how under 36.6 the marks are truncated because of the too many decimal digits.

[2019-05-02 10:54] hellais opened #104 "Tooltips on the websites charts are too small"
![Screenshot 2019-05-02 at 12 53 54](https://user-images.githubusercontent.com/424620/57071000-646bcc00-6cd9-11e9-80f8-a6d4bfd601e5.png)

[2019-05-02 10:56] hellais opened #105 "The vanilla_tor section should show a zero state (or not displayed) when data is missing"
For example if I go to https://explorer-beta.ooni.io/country/BF, which has no vanilla_tor measurements I still see that section saying that there is a measurement from "a few seconds ago", yet the row is not clickable.

![Screenshot 2019-05-02 at 12 56 16](https://user-images.githubusercontent.com/424620/57071103-b44a9300-6cd9-11e9-8e59-16429b9f3135.png)

[2019-05-02 10:56] hellais commented on #105
cc @holantonela @elioqoshi

[2019-05-02 10:58] hellais opened #106 "Show more networks on country page should have a better style"
Currently it's an unstyled link (it doesn't even follow the `<Link>` component style).

![Screenshot 2019-05-02 at 12 56 56](https://user-images.githubusercontent.com/424620/57071178-e9ef7c00-6cd9-11e9-90df-8ccc9a663c80.png)

cc @elioqoshi @holantonela

[2019-05-02 10:59] hellais opened #107 "Replace FAQ link with a data license link"
Currently in the footer we have an FAQ item which points to nothing.

We should instead relabel it as "Data License" and have it link to here: https://github.com/ooni/license/tree/master/data.

[2019-05-02 10:59] hellais commented on #107
@agrabeli what do you think?

[2019-05-02 11:01] hellais commented on #63
I think that the same should also be done for in the country listing for the "Search for countries" and "Jump to section" nav bars.

cc @holantonela @elioqoshi

[2019-05-02 11:02] hellais commented on #71
Ah yes this does appear to be a duplicate of: https://github.com/ooni/explorer/issues/63.

Are we aiming to do this as part of Beta or post beta?

[2019-05-02 12:16] elioqoshi commented on #71
I'd suggest post-beta. This does not look like a dealbreaker rather than an improved viewing experience.

[2019-05-02 14:59] agrabeli opened #108 "Highlights - Remove country names"
Since all of the reports included in the Highlights section start with country names, perhaps we can omit including the country names next to their respective flags, to avoid having country names displayed twice.

![highlights](https://user-images.githubusercontent.com/8290574/57084914-78c0c080-6cfb-11e9-8884-af3d14324642.png)

For example, the "Cuba highlight" would say "Cuba 2019 constitutional

[2019-05-02 15:06] sarathms commented on #108
It is a simple change. But I think we should then rearrange the elements for better use of space. The first row will have only the flag, while second one has a title and two buttons, adding constraints to how long the title can be. In which case, we should do it post-beta. cc: @elioqoshi @holantonela

[2019-05-02 15:07] agrabeli opened #109 "Highlights - Make Explore links consistent"
The "Explore" link for Cuba (under the "censorship during political events" section) points to the OONI Explorer page for tremendanota.com (one of the sites blocked, as noted as part of that report/highlight). All the other "Explore" links though point to the canonical country pages on OONI Explorer.

Do we want to point to the Explorer country pages, or do we want to point to the specific Explore

[2019-05-02 15:38] elioqoshi commented on #71
Mockups of the full width country page here:
https://www.figma.com/file/Z6PtVLW7YkqcTRIRsO2Qzg/Explorer-Country-Pages?node-id=1394%3A13

[2019-05-02 15:40] elioqoshi commented on #63
In the new full width mockup, the country name is aligned to the left:
https://www.figma.com/file/Z6PtVLW7YkqcTRIRsO2Qzg/Explorer-Country-Pages?node-id=1394%3A13

I'd suggest that once scrolled down, the country name and flag replaces the OONI Explorer logo in order to be visible on the sticky navbar.

[2019-05-02 15:52] agrabeli opened #110 "Make search of countries non case sensitive"
For example, when you search for "Chad", it says "No countries found with 'Chad'".

It would be good if the search for countries was not case sensitive, so that you're able to find countries regardless of whether uppercase or lowercase is used.

[2019-05-02 16:05] agrabeli opened #111 "Display countries alphabetically based on country names"
Currently the countries on the Countries page are not listed alphabetically based on the country names, but based on the country codes. It may therefore be confusing that Chad, for example, is listed towards the end of the list (because of its TD country code), instead of next to other countries whose names start with a "C".

I'd like to propose that the countries are listed alphabetically based o

[2019-05-02 16:21] agrabeli opened #112 "Search page - Fix colour coding of side-bar based on results"
When you go to the Search page and view All Results, the side bar for all Web Connectivity results is always orange (hinting that the measurements are anomalous), regardless of the actual results of individual measurements.

For example, in Benin, all results are displayed orange: http://explorer-beta.ooni.io/search?probe_cc=BJ&test_name=web_connectivity&only=all

![benin-orange](https://user-imag

[2019-05-02 16:25] agrabeli opened #113 "Search page - All Web Connectivity measurements incorrectly say "OK""
On the Search page, all Web Connectivity measurements say "Error" (in addition to all being colour-coded as orange, regardless of the actual results).

![error](https://user-images.githubusercontent.com/8290574/57090662-998f1300-6d07-11e9-8998-c6ceebf26780.png)

They should in fact say "anomaly", or "accessible", or "blocked" (or "error"), depending on the result of each measurement.

[2019-05-02 16:31] agrabeli opened #114 "Search page - Consistently show the full tested URL"
When viewing Web Connectivity results from the Search page, some measurements show the tested URL (e.g. https://imageshack.com), while others show the tested domain (e.g. www.gmch.org). For example:

![urls-vs-domains](https://user-images.githubusercontent.com/8290574/57090922-423d7280-6d08-11e9-8dc2-6d3586122009.png)

Please display tested URLs consistently across all measurements.

[2019-05-02 16:36] agrabeli opened #115 "Display the blocking reason/technique in measurement pages"
In anomalous & confirmed blocked measurement pages, the summary paragraph includes the "Blocking Reason" key (e.g. Measurement.SummaryText.Websites.Anomaly.BlockingReason.HTTP), but not the actual copy. For example: http://explorer-beta.ooni.io/measurement/20190501T153831Z_AS37424_BOSFQB55tqBEEQQ7I6fYukt05dP0T6JhEdfwHxCJQj3Msz1EaA?input=http://www.pandora.com/ & http://explorer-beta.ooni.io/measur

[2019-05-02 16:39] agrabeli opened #116 "Display country flag in measurement pages"
Perhaps we can add the country flag next to the country name within the measurement pages?

![country-flag](https://user-images.githubusercontent.com/8290574/57091453-841ae880-6d09-11e9-80e8-873e1b688f83.png)

That way, when people share screenshots of these pages, you can easily/visually see which country it pertains to (from the image of the flag).

[2019-05-02 16:47] agrabeli opened #117 "Confirmed on Search page: Move "Results not found" & delete "Load more" button"
When a country doesn't have any confirmed cases of blocking (which is most countries), the user sees this:

![confirmed-page](https://user-images.githubusercontent.com/8290574/57091814-4e2a3400-6d0a-11e9-9394-4761d40a6048.png)

I propose:

1. Moving "No results found" down, onto the white space (after the legends), so that it can be more visible.

2. Deleting the "Load more" button (since there is

[2019-05-02 16:57] agrabeli opened #118 "Display Summary Text on measurement pages of IM & middlebox tests"
The summary text (i.e. the copy for the key "Measurement.Details.SummaryTextTemplate") is missing in the measurement pages of the following tests:

* WhatsApp: http://explorer-beta.ooni.io/measurement/20190501T155307Z_AS12389_by8uA53xrB272KYRlV2PWU3hDH1G53V3cXioDX0kqWvZr5knuw

* Facebook Messenger: http://explorer-beta.ooni.io/measurement/20190501T233832Z_AS37424_Kxlw23qwyVTx5rjMSZUhpaSMXHVFnADr8i

[2019-05-02 17:12] sarathms commented on #113
This is a known bug in the API for some time now. Related issues:
https://github.com/ooni/api/issues/59 (closed)
https://github.com/ooni/pipeline/issues/112#issuecomment-476188316

It is expected to work as expected when the API starts returning correct responses. But since we haven't tested it visually, on the explorer page, let's keep this issue open until it starts working.

[2019-05-02 17:12] agrabeli opened #119 "Display IM test status bigger in banner"
When you land on the measurement pages for IM tests (e.g. WhatsApp test), the subtitle (in the banner) that communicates whether the specific app is blocked or not is displayed in extremely small writing. For example, "WhatsApp is accessible":

![whatsapp-accessible](https://user-images.githubusercontent.com/8290574/57093403-1a510d80-6d0e-11e9-9009-07b61de5f733.png)

It would be great if "WhatsApp

[2019-05-02 17:14] sarathms commented on #112
Similar to #113

[2019-05-02 17:18] sarathms commented on #109
As discussed, please edit the [highlights.json](https://github.com/ooni/explorer/blob/master/components/landing/highlights.json) file which is used to render the highlights section.

[2019-05-02 17:18] agrabeli opened #120 "Display copy for Telegram endpoint label keys"
The copy for the following Telegram keys (in the measurement page) is missing:

* Measurement.Details.Telegram.Endpoint.Label.Web

* Measurement.Details.Telegram.Endpoint.Label.Mobile

See:

![telegram-endpoint](https://user-images.githubusercontent.com/8290574/57093718-ede9c100-6d0e-11e9-9612-fd4d6d37ab1a.png)

Taken from: http://explorer-beta.ooni.io/measurement/20190502T002851Z_AS4788_R8Nkp367Q

[2019-05-02 17:25] agrabeli opened #121 "Add missing Facebook Messenger keys & copy for TCP connections, DNS lookups & endpoint status"
The Facebook Messenger measurement pages (e.g. http://explorer-beta.ooni.io/measurement/20190501T155333Z_AS12389_9MSGqyTiT6bhr6w00ZtE8Y5q4JpcjBM5td2hcGfqUVosO4DBR6) are currently missing the following keys (and associated copy):

* Measurement.Details.FacebookMessenger.TCP.Label.Title
   * Measurement.Details.FacebookMessenger.TCP.Label.Okay
   * Measurement.Details.FacebookMessenger.TCP.Label.Fai

[2019-05-02 17:38] agrabeli opened #122 "Update country pages with published OONI research reports"
How will the published OONI research reports be added to the "Research Reports" section of country pages? Will this somehow be automatically updated, or will we need to manually edit this section when relevant reports are published?

Yesterday we published a report on Benin, but it doesn't appear in the Benin country page: http://explorer-beta.ooni.io/country/BJ

On ooni-web, we added "benin" as a

[2019-05-02 17:47] hellais commented on #122
With @sarathms we were discussing maybe choosing a particular tag that we could use to identify reports relevant to a particular country.

Maybe we could use the tag `report` and then have a tag which says `country-XX` where `XX` is the two letter country code that report is about?

[2019-05-02 17:47] agrabeli opened #123 "Measurement Coverage by Test Class - Improve graph and how info is communicated"
I find the "Measurement Coverage by Test Class" graph (on country pages) quite confusing, because even though it says (in the pop-up window) that a certain amount of tests have been run (e.g. performance tests), this is not displayed in the graph itself.

For example, in Benin (http://explorer-beta.ooni.io/country/BJ), when I hover over February 2019, it says that "5 performance tests" have been r

[2019-05-02 17:50] agrabeli commented on #123
I guess this is also discussed here: https://github.com/ooni/explorer/issues/90

[2019-05-02 17:58] agrabeli opened #125 "Fix flags"
Some countries appear to have wrong flags... for example, Italy:

![it-flag](https://user-images.githubusercontent.com/8290574/57096052-9b130800-6d14-11e9-8897-4dc57695b728.png)

[2019-05-02 18:01] hellais commented on #125
I believe this is some odd edge case that happens when you apply a filter on the country listing.

[2019-05-02 18:02] agrabeli opened #126 "Highlights - Add missing link"
In the "censorship changes" section of the Highlights page, a link is missing from the copy.

In the Cuban highlight, please hyperlink "IP blocking" (at the end of the sentence) with this: https://ooni.torproject.org/post/cuba-referendum/

[2019-05-02 18:08] agrabeli opened #127 "Display tested URLs separately from "Web Connectivity""
In the Search page, when the tested URLs are displayed in the same column, right on top of "Web Connectivity", it looks too cluttered and you can barely read which URL has been tested (which is the main information we're interested in).

![web-connectivity-clutter](https://user-images.githubusercontent.com/8290574/57096556-e11c9b80-6d15-11e9-8fa2-cf3be53ccf71.png)

I therefore propose that we sepa

[2019-05-02 18:26] agrabeli opened #128 "Display selected Heading in country pages"
If I'm on a country page and select one of the sections (e.g. Networks) from the menu on the left, the heading (Networks) is not displayed on the top of the page:

![network-without-header](https://user-images.githubusercontent.com/8290574/57097640-820c5600-6d18-11e9-8164-7ccb938fac47.png)

I should probably see this instead:

![network-with-header](https://user-images.githubusercontent.com/829057

[2019-05-02 18:31] agrabeli opened #129 "Remove "Load More" button when maximum amount of measurements displayed"
When filtering measurements based on a specific date range (in Guatemala, for example), I only get a limited set of measurements, yet the "Load More" button is still displayed (but since we only have 1 measurement in this case, clicking on the "Load More" button wouldn't work).

![filter-dates](https://user-images.githubusercontent.com/8290574/57097859-11b20480-6d19-11e9-80b2-6b20c2f38e76.png)

We

[2019-05-02 18:36] agrabeli opened #130 "Error occurs after a few filtered searches"
After a few filtered searches on the Search page, I get an error:

![error-page](https://user-images.githubusercontent.com/8290574/57098163-baf8fa80-6d19-11e9-98b6-39e30cf68774.png)

The first few searches work well, but after a few, this error appears, regardless of the type of search. This leads me to think that perhaps this is an issue on the pipeline? Limited ability to perform search function

[2019-05-02 18:41] agrabeli opened #131 "Confirmed blocked pages should have red banners, instead of orange"
The Confirmed Blocked (Web Connectivity) measurement pages should have **red** banners, instead of orange ones (which are used for anomalous measurements).

Examples: http://explorer-beta.ooni.io/measurement/20190501T195957Z_AS197207_UEwHpRQ5zbd2lNSwcr5XfKxxJTsizM67Z4mwqEyxtoHcecR9ft?input=http://www.roozonline.com/ & http://explorer-beta.ooni.io/measurement/20190501T085412Z_AS42668_zDAYOOjqswLhfC

[2019-05-02 19:16] agrabeli opened #132 "Display Categories of blocked sites"
Currently the categories of blocked sites are not displayed.

If it's not possible to display them in the short term, we should probably remove the following strings:

Country.Websites.Heading.BlockedByCategory
Country.Websites.BlockedByCategory.Description

[2019-05-02 21:17] sarathms commented on #125
I am unable to reproduce this. What filter did you apply?

[2019-05-03 07:38] agrabeli opened #133 "Support filtering per URL across database"
A feature that *many* people care about is being able to check the accessibility of a specific site globally (i.e. check in which countries a specific site is blocked).

The new UI of OONI Explorer creates the impression that you can easily filter the measurements to get this sort of information by adding the URL of interest in the input section, and then clicking "Filter Results" (without specify

[2019-05-03 07:46] agrabeli opened #134 "Remove "In a nutshell" section & add it once we have better heuristics"
The "In a nutshell" section on country pages is great for providing an overview of results.

In practice though, it's currently not super useful and can be quite misleading, due to limitations to our current heuristics (i.e. what is processed, what is presented from the pipeline, etc.). For example, when you land on the Egypt page, it says "the blocking of websites is not confirmed" (because they

[2019-05-03 12:47] agrabeli opened #136 "Add censorship techniques on country pages"
The current OONI Explorer country pages display detected censorship techniques (for example, DNS hijacking in China: https://explorer.ooni.io/country/CN).

As many researchers are interested in knowing which censorship techniques are adopted by ISPs in various countries, it would be great if we could continue to display this information in the new OONI Explorer as well.

Of course, there is the ca

[2019-05-03 14:36] holantonela commented on #97
Yes, it should work like https://getbootstrap.com/docs/4.0/components/buttons/#outline-buttons

[2019-05-03 14:38] holantonela commented on #9
@hellais opened #107 to define that link. I'll close this issue then.

[2019-05-03 14:38] #9 closed

[2019-05-03 14:43] holantonela commented on #119
yes, this should follow the same H style we have on the Web Connectivity Test Measurement page, like http://explorer-beta.ooni.io/measurement/20190503T002824Z_AS3320_WEIDLeodeoBtJbFNGtubKswQcr3Chy6HU7Iu5PV6n7vhjbQIjl?input=http://www.xenu.net/

[2019-05-03 14:46] holantonela commented on #117
I agreed. Do we have an empty/no-found illustration from Probe to place there?

[2019-05-03 14:50] holantonela commented on #82
We should consider the entire left sidebar. Could we move this for stable @hellais ?

[2019-05-03 14:54] holantonela commented on #102
I think both blocks have the right font-size. It gives hierarchy compared with the entire content and looks very nice.

We could improve the community facts section by adding a call to action to download the apps and adding an illustration. What do you think?

[2019-05-03 15:16] holantonela commented on #84
This is done. We'll polish it in #104

[2019-05-03 15:16] #84 closed

[2019-05-03 15:21] holantonela commented on #57
This is done. Following work at #76.

[2019-05-03 15:21] #57 closed

[2019-05-03 15:31] holantonela commented on #108
We can easily make it done for beta by removing `countryName` at highlights.json as suggested at
https://github.com/ooni/explorer/issues/109#issuecomment-488756985

[2019-05-03 15:42] hellais commented on #32
This is done.

[2019-05-03 15:42] #32 closed

[2019-05-03 15:42] hellais commented on #13
I think this is good.

[2019-05-03 15:42] #13 closed

[2019-05-03 15:45] holantonela commented on #63
I made a suggestion at https://github.com/ooni/explorer/issues/71. We could have this pattern across the entire site.

[2019-05-03 16:07] holantonela commented on #128
Related with #71. We should have it fixed if we implement some of the options we suggested there.

[2019-05-03 16:27] hellais commented on #103
Fixed this in #137

[2019-05-03 16:34] hellais commented on #102
What is the community facts section?

[2019-05-03 16:48] holantonela commented on #102
The block which contains "Thanks to OONI Probe users..."

[2019-05-03 17:06] hellais commented on #102
Ah ok I see.

I think one thing to consider to improve this section is perhaps making the numbers in there and the variable bits of that section more visible (like the network and measurement count).

I do still wonder if this information wasn't better suited to live inside of the hero and not be duplicated as text in here.

[2019-05-03 17:09] #103 closed

[2019-05-03 17:17] hellais opened #138 "Filter results should be greyed out when no changes are made to the filter"
![Screenshot 2019-05-03 at 19 16 45](https://user-images.githubusercontent.com/424620/57154013-11c50980-6dd8-11e9-9cb8-9f26918fadac.png)

I think it would be more usable if we made the filter result button change state to being clickable only if changes are made to the selections.

[2019-05-03 17:18] hellais opened #139 "Review the confirmed blocked badges"
I find they look a bit odd and they don't wrap around cleanly when the URL is too long.

![Screenshot 2019-05-03 at 19 14 52](https://user-images.githubusercontent.com/424620/57154075-3e792100-6dd8-11e9-9436-6f0008a366c5.png)

[2019-05-03 17:30] agrabeli commented on #109
I have addressed this via this PR: https://github.com/ooni/explorer/pull/140

[2019-05-03 17:30] agrabeli commented on #108
I have addressed this via this pull request: https://github.com/ooni/explorer/pull/140

[2019-05-03 17:30] agrabeli commented on #126
I have addressed this via this pull request: https://github.com/ooni/explorer/pull/140

[2019-05-03 18:13] sarathms commented on #106
Fixed in #141

[2019-05-03 18:15] #108 closed

[2019-05-03 18:15] sarathms commented on #100
Fixed in #141

[2019-05-03 18:36] holantonela commented on #97
@sarathms you right. Lets link it to /countries. @hellais @agrabeli what do you think?

[2019-05-03 22:00] sarathms opened #145 "Ensure RadioGroup works well in dev mode"
Currently [this bug](https://github.com/ooni/design-system/issues/52) in design-system, affects the search page in development mode. Works fine in production.

[2019-05-04 10:38] hellais commented on #97
Yeah I think linking it to the country listing is good.

[2019-05-04 17:23] elioqoshi commented on #97
Exactly, agreed.

[2019-05-04 17:25] elioqoshi opened #149 "Explorer and Report buttons in highlights should have hover and click effects"
Currently, the Explore and Report buttons in the Highlights section don't have any effect indicating that they are interactive. It would be good to add effects on hover and click changing the color of the button

![image](https://user-images.githubusercontent.com/5436686/57182697-4f8e6480-6ea2-11e9-9fa4-16093bc05ed2.png)

[2019-05-06 17:34] agrabeli opened #150 "Country page - Link graphs to measurements"
The graphs (under the Websites and Apps sections) on the country pages are really cool, but they're not very actionable at the moment.

For example, when you land on the Iranian page, you see that a number of websites presented blocking in the timeline of their testing (the red bars displayed in the graph)...

![ir-blocked-sites](https://user-images.githubusercontent.com/8290574/57243046-c2801280-

[2019-05-06 19:16] sarathms commented on #150
As per the mockup, the interactive part of these charts were in the form of stats updated on the left of the chart as we hover/click on the bars.
![image](https://user-images.githubusercontent.com/700829/57246814-31dd0e80-700c-11e9-907a-7274c116d1c3.png)

The way I understood is that the top-right button allows for one of the graphs to be maximized at a time, and make it interactive (as described

[2019-05-06 20:17] sarathms commented on #68
This was implemented some time back. I pulled it back from review stage because I wanted to check:
[ ] Sentry alerts are triggered in production
[ ] Console messages are not garbled in development mode

[2019-05-07 12:01] holantonela opened #152 "Measurement pages are using wrong timestamp"
## Expected Behavior
Measurement pages excerpt should use the timestamp of the probe.

## Actual Behavior
Measurement pages excerpt are using local timestamp.

## Steps to Reproduce the Problem
Go to http://explorer-beta.ooni.io/measurement/20180101T200009Z_AS31549_2qR89L0XFMpJGVQOBtR3PKzxzpNjCs7Sh7ZErjdJGw3KFDdkP1?input=https://www.instagram.com/
![Screenshot_2019-05-07 OONI Explorer](https://use

[2019-05-07 19:42] sarathms commented on #152
Looks like it was affecting only web_connectivity tests where that section was implemented differently from other tests.

[2019-05-09 03:06] sarathms opened #154 "Web Connectivity test status undetermined"
## Expected Behavior
Measurement page for `web_connectivity` should determine if the 'status' is `accessible`, `anomaly`, `confirmed` or `failure`. And display messages to convey the necessary details in the Hero and Summary Text areas.

## Actual Behavior
Unable to determine the status. Summary text is blank as the conditions checked are not met. The fact that all measurements currently flag `isF

[2019-05-09 06:36] agrabeli commented on #107
@hellais yes, I think that's a good solution for the time being (and we can later change it to "FAQ", once that's published).

[2019-05-09 11:00] hellais commented on #107
@agrabeli I think that we should probably always have a link to the data license, but yeah let's evaluate where and if it makes sense to include a FAQ link once we have one.

[2019-05-09 14:54] #152 closed

[2019-05-09 15:06] #97 closed

[2019-05-09 15:07] #117 closed

[2019-05-09 15:09] #132 closed

[2019-05-09 15:50] hellais opened #155 "TypeError Cannot read property 'engine_version' of undefined"
Try accessing this measurement to reproduce: http://explorer-beta.ooni.io/measurement/c55MMtTAdZMTa93Jt9nnXvh44s0Gqv09Pu6oi8cRZZvFo3seJVw2x8QCpPJfGZ24?input=http://www.tudehpartyiran.org

[code]

[2019-05-09 16:14] #98 closed

[2019-05-09 17:48] hellais opened #156 "Refactor SummaryTest"
As @sarathms wrote in: https://github.com/ooni/explorer/pull/146/#discussion_r282578340

Turns out it is a bug, yet works as expected. It was certainly not intended this way. react-intl fails to find the key and prints the key itself as the message.

I have modified SummaryText to accept either a function, string, or any in the content prop and render them accordingly. The problem with string type

[2019-05-09 17:49] #115 closed

[2019-05-09 17:49] #118 closed

[2019-05-09 17:49] #120 closed

[2019-05-09 17:49] #95 closed

[2019-05-09 17:49] #121 closed

[2019-05-09 18:31] sarathms commented on #107
Fixed in #158

[2019-05-10 15:59] sarathms commented on #155
This seems to affect measurements for legacy tests. In this case, `http_requests`. Two of the ways to handle this:
1) We skip the row from the table where the value isn't available. We already do this where `engine_version` (OONI Probe Version) isn't available (from legacy probes, but for all tests).
![image](https://user-images.githubusercontent.com/700829/57540363-905f0100-731a-11e9-82a1-de7a1ed

[2019-05-10 16:01] sarathms commented on #154
Looks like it wasn't handled in the [old explorer](https://explorer.ooni.torproject.org/measurement/20190504T152614Z_AS6830_n89RPFJzbMeQGsnxoKTMtoPg5xzUlRvguxwh7IT1F7vfcnksxE?input=http:%2F%2Fwww.radioislam.org%2F) as well. @hellais Is this actually a failed test?

[2019-05-10 16:33] sarathms opened #159 "End to End Testing Strategy for OONI Explorer"
Firstly, I think we should be able to come up with priority list of objectives to achieve using a test suite. Proposing a draft below to start with.

### Objectives
1. Ensure application builds (`yarn run build` runs successfully)
2. Ensure high level pages render without major errors (`pages/*.js`)
3. Breakages that occur when upgrading dependencies to major versions should be caught.

Are there

[2019-05-10 21:47] sarathms opened #161 "Remove svg filename in site logo tooltip"
The logo svg file [has a title tag](https://github.com/ooni/explorer/blob/0df43de0724ed2d038559bae837f0e83d2efd2a8/static/images/ExplorerBeta-HorizontalMonochromeInverted.svg#L1) which shows up as a tooltip on the page.
![image](https://user-images.githubusercontent.com/700829/57558048-50177700-734a-11e9-969c-63e32f7af049.png)

[2019-05-15 10:46] agrabeli commented on #122
@hellais @sarathms The tags added as part of PRs https://github.com/TheTorProject/ooni-web/pull/270 and https://github.com/TheTorProject/ooni-web/pull/228 will help with importing relevant research reports in (the new) OONI Explorer country pages.

The tag, in particular, that you need to look out for is: "country-xx" (where "xx" is the relevant country code).

[2019-05-16 23:38] sarathms opened #164 "Case sensitivity of country codes in country page URLs"
## Expected Behavior
Explorer should be able to handle minor typos in URLs where `/country/al` can be treated as `/country/AL` and preferably update the URL shown in the browser.

## Actual Behavior
Currently, only the flag is insensitive to country codes. Rest of the page only renders default content (which itself needs to be handled better).

[2019-05-16 23:41] sarathms opened #165 "Long URLs in websites section on Country page"
## Expected Behavior
Long URLs should be truncated or wrapped around to the next line, especially on smaller screens.

## Actual Behavior
Overflows to the right of the page and messes up the page layout.

[2019-05-21 10:05] #107 closed

[2019-05-21 13:25] holantonela commented on #150
Hi, I think we can make some small tweaks to the current graph to achieve a more close version to the mockup. Such as:
- [ ] Add the website category icon
- [ ] Add a [View Measurements] link to the search result page, filtered by `country` + `website` + `timelapse`
- [ ] Which period of time we are showing here? Could we render more results and reduce the space between each vertical line?

[2019-05-21 16:37] hellais opened #167 "Consider hiding charts when on mobile if they are unusable"
We should probably hide some of the bigger charts (like the first one on the country page) when the user is via mobile as they will not be usable and they take up precious screen real-estate.

The `responsive` tag should also be removed from charts as it leads to small tooltips (see: https://github.com/ooni/explorer/issues/104)

Related: https://github.com/ooni/explorer/issues/101 https://github.c

[2019-05-21 16:46] hellais commented on #94
This looks good to me

[2019-05-21 16:46] #94 closed

[2019-05-21 16:47] hellais commented on #76
As we are omitting this, we can close this issue.

[2019-05-21 16:47] #76 closed

[2019-05-21 16:47] #100 closed

[2019-05-21 16:47] hellais commented on #35
@holantonela do you think we can close this now?

[2019-05-21 16:47] #126 closed

[2019-05-21 16:48] #106 closed

[2019-05-21 16:49] #110 closed

[2019-05-21 16:49] hellais commented on #111
This is fixed via: https://github.com/ooni/explorer/pull/166

[2019-05-21 16:49] #111 closed

[2019-05-21 17:19] holantonela commented on #35
I checked the urls listed in https://github.com/ooni/explorer/issues/11#issuecomment-449262759
This seems done. Great work @sarathms and @elioqoshi !

[2019-05-21 17:19] #35 closed

[2019-05-21 17:31] holantonela opened #168 "Measurement Page has wrong title formatting"
The subtitle at the apps measurement results is wrong. Let's use the same font-size we have at the websites measurement pages.

Expected
![Screenshot_2019-05-21 OONI Explorer(1)](https://user-images.githubusercontent.com/7602174/58117452-f8440000-7bd4-11e9-9983-6fc8b96a0c80.png)

Actual
![](https://screenshotscdn.firefoxusercontent.com/images/31c4ce93-d354-4d18-9688-0553099aed6b.png)

[2019-05-22 16:19] agrabeli opened #171 "Link country name in measurement to country page"
When you search through measurements, it would be extremely handy if you could navigate to a country page by clicking on the country name displayed on a measurement page.

For example, in the following measurement page, it would be great if users could click on "Turkey" and get redirected to the Turkish country page.

![example](https://user-images.githubusercontent.com/8290574/58191002-5b618f80-7

[2019-05-22 16:25] agrabeli opened #172 "Improve the failed NDT measurement page with grey background"
On failed NDT measurement pages (which I keep coming across unfortunately), the word "Results" is quite big, while "Failed test" is quite tiny, and the font generally feels quite odd. For example:

![example](https://user-images.githubusercontent.com/8290574/58191406-286bcb80-7cc7-11e9-982f-53cfe51b2084.png)

Can we improve the font sizes? Perhaps remove "Results" entirely (when the NDT test fails

[2019-05-23 13:06] holantonela opened #173 "Country pages: websites - UI adjustments"
Since https://github.com/ooni/api/issues/85 is still in progress, for the stable release we should make some tweaks to have a useful UI:

- [x] ~~Could we show a top 8 or 6 measured websites defined by the websites with more "blocked/anomaly" results and more qty of measurements?~~
- [x] ~~We should display a bigger time lapse to have a non-empty graph. Maybe all time?~~
- [x] ~The pager at inner

[2019-05-23 13:24] holantonela opened #174 "Country pages: apps - UI adjustments"
- [x] Review the padding at the table header. "Last tested + icon" should be aligned to the right.
 ![Apps Table Header](https://user-images.githubusercontent.com/7602174/58255540-9524ab80-7d43-11e9-83de-6e1bd280f7c2.png)
- [x] The padding between each row should be reduced by 50%.
- [x] For messaging apps with less than 10 measurements should have the toggle open by default.
- [x] Each ASN per ro

[2019-05-23 13:30] hellais commented on #173
How do you define this exactly?

What if a site has more anomalies (because it's tested more times), yet another has some confirmed which we have a higher level of confidence about?

Also keep in mind that we show measurements inside of the listing only of the AS (network) that the user has selected.

The sorting of the websites in the list is actually that we will first show sites that have confi

[2019-05-23 13:37] holantonela opened #175 "Country pages: overview - UI adjustments"
- [x] The main measurement coverage graph should have `font-size:8px` and Fira Sans font face at labels
- [x] The tooltip needs work. I think that the solution offered at https://github.com/ooni/explorer/issues/90#issuecomment-487864940 could work.

[2019-05-23 13:44] holantonela commented on #173
Agreed. I'm trying to have a less empty graph that also can allow a further exploration at the search results page.

I see.

Yes. I'd remove it and eventually when you support filtering per keyword then you can have a navigation there, even if that pattern is quite glitchy.

[2019-05-23 13:54] holantonela commented on #172
Yes. Let's remove "Results" and have "Failed test" with that h1 style.

I asked @hellais about it and seems like the ASN name is missing and some countries have long names. That said, maybe we should open a new issue to review that part of the header.

[2019-05-27 14:31] sarathms opened #176 "TypeError: a.testName is undefined"
[Sentry logs](https://sentry.io/organizations/ooni/issues/1039603910/?project=1427510&query=is%3Aunresolved&statsPeriod=14d) indicate a recurring error for certain queries on the search page.

Example search url: https://explorer-beta.ooni.io/search?input=madamasr.com&probe_cc=EG&test_name=web_connectivity&probe_asn=AS8452

[2019-05-31 13:34] hellais commented on #82
I believe this is now done.

[2019-05-31 17:12] #155 closed

[2019-06-03 14:07] hellais commented on #64
Perhaps we should then close this issue as wontfix?

[2019-06-03 14:08] #64 closed

[2019-06-03 14:08] hellais commented on #64
Please reopen if you think it's necessary

[2019-06-03 14:08] hellais commented on #72
I believe this is already done. Let's open a new ticket if there are specific bits which are still missing.

[2019-06-03 14:08] #72 closed

[2019-06-03 14:28] agrabeli commented on #134
Upon discussion with the team, we have decided to disable the "In a nutshell" section temporarily (and re-enable it in future releases, when we have better heuristics).

[2019-06-03 14:28] holantonela commented on #34
This is done and implemented.
http://explorer-beta.ooni.io/

[2019-06-03 14:28] #34 closed

[2019-06-03 14:31] hellais commented on #125
@sarathms it happens when you apply some filtering to the page and it has just loaded.

[2019-06-03 14:42] hellais commented on #176
We should probably do tighter prop validation on the `ResultTag`.

[2019-06-03 14:51] hellais opened #178 "Show website is down on Web Connectivity measurement page"
Here is an example of it:
http://explorer-beta.ooni.io/measurement/20190602T034152Z_AS29032_sFjEu7kwoDsBul2dsW6Pqd5ykiAnP4fEQwoGTZVsUmAm7rwiHG?input=http://www.misseastafrica.co.uk

The value of the blocking key is `false`, so it should not be an anomaly:

[code]

This may be due to the site being marked as `accessible: false`.

[2019-06-03 15:15] hellais opened #179 "Re-add Measurement.Hero.Status.Anomaly into Hero unit for Measurement"
Currently the Hero Unit is missing the strings from `Measurement.Hero.Status.Anomaly.*` next to the Anomaly string.

[2019-06-03 15:24] hellais commented on #179
@holantonela will look into making a mock to add this to that page.

The possible values are:
* DNS
* HTTPDIFF
* HTTPFAILURE
* TCPIP

[2019-06-03 15:25] hellais opened #180 "Sync the master spreadsheet for strings to the latest"
This should be updated: https://docs.google.com/spreadsheets/d/1QAeDVF5wYj7bnTE6rJ0XX3C8sBF0o6A0TxeLw9fpTvM/edit#gid=0

[2019-06-03 15:27] hellais commented on #178
We have decided that we are going to make this page green and we will show instead of "Anomaly", "The website is down" or similar copy.

Relevant bits of code that need to be looked at:
https://github.com/ooni/explorer/blob/master/components/measurement/nettests/web_connectivity.js#L270
https://github.com/ooni/explorer/blob/master/components/measurement/nettests/web_connectivity.js#L287
https://gi

[2019-06-03 17:42] sarathms commented on #87
Countries page sidebar is being redesigned in #63

@holantonela Do we want to do something for the search page sidebar on mobile?

[2019-06-03 17:55] sarathms opened #181 "Use viewport units for font-sizes to improve reponsiveness"
This issue branches out from a more generic responsiveness issue (#87). One of the points was to explore usage of vw (viewport width), vmin, vmax notations to specify font sizes or alternatively use modules like `react-textfit`

Reference: https://css-tricks.com/fun-viewport-units/

[2019-06-03 17:55] sarathms commented on #87
This is being worked upon in #104 #167

[2019-06-03 17:56] sarathms commented on #87
Opended #181 to handle this later.

[2019-06-05 14:14] sarathms commented on #109
This is done.

[2019-06-05 14:14] #109 closed

[2019-06-05 14:16] sarathms commented on #68
This seems to work as expected as of now.

[2019-06-05 14:16] #68 closed

[2019-06-05 14:17] #82 closed

[2019-06-06 12:22] holantonela commented on #127
It is done. Looks good!
![Screenshot_2019-06-06 Search Measurements - OONI Explorer](https://user-images.githubusercontent.com/7602174/59032388-91f9e700-883c-11e9-84e0-d697e269e9d8.png)

[2019-06-06 12:22] #127 closed

[2019-06-06 13:22] holantonela commented on #179
I made a couple of options for this idea about to including the anomaly status at the hero zone. Let's base our decision on which kind of hierarchy we would like to do at this information. IMO is very relevant but I'd not include it in the main title. What do you think is better?

1.
![4](https://user-images.githubusercontent.com/7602174/59035910-a510b500-8844-11e9-9726-1b2ce4a98956.png)
2.
![1](h

[2019-06-06 13:24] sarathms commented on #180
The babel plugin to extract the keys throws an error because of [this pattern](https://github.com/ooni/explorer/blob/master/components/country/overview.js#L80) which doesn't allow the plugin to statically evaluate the keys. These need to be refactored to be able to extract as expected.

[2019-06-06 13:31] sarathms commented on #180
WIP here: https://github.com/ooni/explorer/tree/fix/extract-keys

[2019-06-06 14:19] sarathms commented on #116
Addressing this in #183

This is how it looks like right now. @holantonela Do you think this needs to be done differently?
![image](https://user-images.githubusercontent.com/700829/59040409-9b874d00-8844-11e9-8ba8-baa7dba53ccc.png)

[2019-06-06 14:47] #168 closed

[2019-06-06 14:47] #119 closed

[2019-06-06 14:48] hellais commented on #116
cc @holantonela

[2019-06-06 15:51] sarathms commented on #149
Same as #99

[2019-06-06 16:43] sarathms commented on #129
@agrabeli Try this link to see if it works as expected now. http://explorer-beta.ooni.io/search?probe_cc=UZ&since=2019-05-15&test_name=web_connectivity&until=2019-05-31

[2019-06-07 13:41] sarathms commented on #145
This seems to already work even without applying the `ooni-components` update which was done specifically to solve this. Most likely because of the upgrade to `next@8.1.0` which uses newer version of `react-hot-loader`. This is done.

[2019-06-07 13:44] #145 closed

[2019-06-07 13:54] sarathms commented on #179
Just wanted to link #102 here because @hellais was wondering if some more data can make it into the Hero. If we are iterating, we should probably evaluate that idea as well.

[2019-06-07 14:01] holantonela commented on #116
Thanks @sarathms for working on it. Following the mocks, we should have this order:

1. Country
2. Network Name
3. ASN
4. Time and Date

That will allow us to have a mobile view like the following screenshot, which has better alignment.
![Screen Shot 2019-06-07 at 10 54 05](https://user-images.githubusercontent.com/7602174/59109019-a14b6400-8912-11e9-9868-0638f22a38a0.png)

For @hellais's concern,

[2019-06-07 14:03] sarathms commented on #125
I am able to see this, at least once, on Firefox too. This needs a more fundamental relook at how we build and load the flags. Needs more debugging.

[2019-06-07 19:00] sarathms commented on #172
As part of #182, the font size is bigger for the 'Failed Test' text. But it doesn't replace the 'Result' label.
@holantonela Do we still want to do it? Or is the font situation better this way?

![image](https://user-images.githubusercontent.com/700829/59127151-de285280-8934-11e9-9ee6-510fd66a301b.png)

[2019-06-07 19:06] sarathms commented on #49
@hellais Do API responses reflect this status? I haven't tried a measurement that satisfies this criteria.

[2019-06-08 02:00] sarathms commented on #134
@agrabeli @holantonela This is WIP and has been deployed to the beta instance for preview. I feel that the page is not being introduced the right way to a user now. Maybe we should come up with an alternative instead of hiding it, even if temporarily.

[2019-06-08 02:46] sarathms commented on #165
The first one is before fix. The second one is the proposed fix. @holantonela Is there a better way to show something like long or maybe longer?

![image](https://user-images.githubusercontent.com/700829/59141155-f7052800-8975-11e9-8e04-b9c8d756e9cc.png)

[2019-06-08 03:12] sarathms commented on #173
By removal, you mean that we point to the search page for users to explore that data from there.

It seems like it reduces the perceived capabilities of the country profile page. We also have pagination in another section (Networks) where we just append the new results to the bottom of the list. Would that feel different here given it is not the end of the page?

[2019-06-08 10:18] hellais commented on #49
No this is currently not supported in the pipeline and will not be done by
the time of stable launch.

On 7 June 2019 at 21:06:16, Sarath (notifications@github.com) wrote:

[2019-06-08 11:28] hellais commented on #133
Can you clarify what you mean exactly when you say "this doesn't work"?

If you could provide step by step instructions on how to reproduce the issue that would be great as well.

In the meantime I am removing the bug label as there is not enough information for this to be investigated.

[2019-06-08 11:32] hellais commented on #154
@sarathms in this case the control measurement is empty and `blocking` is `null`, so you should treat this as a failed mesurement not an anomaly.

[2019-06-08 11:32] hellais opened #189 "Improve UX of the raw measurement data log"
I think that the orientation of the expansion collapse button on the measurement page for raw data looks a bit odd.

<img width="1327" alt="Screenshot 2019-06-08 at 13 30 51" src="https://user-images.githubusercontent.com/424620/59146708-c19e2000-89f1-11e9-8adb-62fc9151f19c.png">

Moreover it doesn't give any response when you click on it to expand it.

We should see if we can improve the UI of th

[2019-06-08 11:33] hellais commented on #45
I don't think we will manage to do this in the stable as it requires a fair amount of backend and pipeline work as well.

[2019-06-10 13:48] hellais commented on #189
I have now understood what is confusing me. The `v` icon should be inverted. It should point downwards when it can be expanded, while it should point upwards when it can be collapse (i.e. the opposite to how it works now).

[2019-06-10 14:09] sarathms commented on #189
The icons should be replaced with more appropriate `MdExpandMore` & `MdExpandLess`

[2019-06-10 14:43] sarathms commented on #39
Updated URL: https://explorer-beta.ooni.io/measurement?report_id=20181217T181225Z_AS55836_VWJS5HXHsuaQe9S1aygtrQVi2LZUCMKjkt907vcT0RkKdHJLDi

This seems to be fixed in the recent versions.

[2019-06-10 14:46] sarathms commented on #45
In that case, I think we should change the layout of the relevant section and make it a 3 column layout on desktop like below. Significantly changes the first impression of the page. @holantonela @hellais

![image](https://user-images.githubusercontent.com/700829/59203481-a572be00-8b6c-11e9-9083-2ff489988aea.png)

It is already one-column on mobile.
![image](https://user-images.githubusercontent.c

[2019-06-10 18:38] holantonela commented on #58
I removed the margin-bottom style on cards, and I got this grid. I think it is the right balance for the grid.

![image](https://user-images.githubusercontent.com/7602174/59217979-905e5500-8b95-11e9-9607-f14dbb3eddf9.png)

[2019-06-10 18:42] holantonela commented on #172
Could we remove `Results` and have `Failed test` instead?

[2019-06-10 20:11] sarathms commented on #58
Alternatively I reduced the margin on top and bottom by proportional amount, effectively getting the exact same gap. This way the horizontal and vertical spacing between the cards, and the padding inside the cards are all the same (16px).

![image](https://user-images.githubusercontent.com/700829/59223638-69565200-8b9a-11e9-9e82-98fedb91b6a8.png)

[2019-06-10 20:39] sarathms commented on #189
Using only one of the icons because we use a rotate animation.

![image](https://user-images.githubusercontent.com/700829/59225186-17afc680-8b9e-11e9-9713-ea1e2e412f00.png)

[2019-06-11 14:07] sarathms opened #192 "Fonts fail to load (404)"
In recent builds, browser fails to fetch the fonts from the server. All requests return 404. I am guessing this is due to the `nextjs@8.1.0` upgrade which introduced config changes because the fonts are now actually available from a different path.
Earlier: `http://localhost:3100/_next/static/css/fira-sans-latin-600.woff2`
Now: `http://localhost:3100/_next/static/fira-sans-latin-600.woff2`

Propos

[2019-06-11 17:53] sarathms opened #194 "Empty content boxes in anomalous measurments"
#### Actual Behaviour
For some measurements, like the ones with DNS failures do not have data to show in HTTP Response and TCP Connection sections.

#### Expected Behaviour
Such cases should be explained correctly in the UI.

#### Steps to reproduce:
[This mesurement](https://explorer-beta.ooni.io/measurement/20180709T222326Z_AS37594_FFQFSoqLJWYMgU0EnSbIK7PxicwJTFenIz9PupZYZWoXwtpCTy)

[2019-06-11 18:28] holantonela commented on #58
Looks good for me!

[2019-06-11 18:28] #58 closed

[2019-06-11 18:30] holantonela commented on #45
I suggested this before, but @hellais wants to have room for the long `asname`. Could we stick to the three columns until we have the `asname` available @hellais?

[2019-06-12 11:57] hellais commented on #165
I suggest we truncate URLs to some maximum length and if possible expand them when you hover over them.

I think that wrapping them like that can create issues especially with extremely long URls (there are URLs longer than the ones above in Explorer).

[2019-06-12 12:34] holantonela commented on #165
I think it is relevant to expose the start and the end of the URL. Then, we can show the entire URL in an `alt` at the hover. Ideally, that URL is a link to a search query (#150)

For example:
`http://www.thelongurlishere123.com`
`http://www.thelo....123.com`

[2019-06-12 13:55] sarathms commented on #178
This fix should be included in the related PR #193

[2019-06-12 14:36] holantonela commented on #189
That works for me, thanks @sarathms! Could we have it expanded by default? I agree with @hellais about it.

After that, I think we can close this issue.

[2019-06-13 16:56] #129 closed

[2019-06-13 16:57] #99 closed

[2019-06-13 16:57] #149 closed

[2019-06-13 16:58] #161 closed

[2019-06-13 17:00] #189 closed

[2019-06-13 17:16] #134 closed

[2019-06-13 20:24] sarathms commented on #194
Same as #50

[2019-06-14 08:27] #50 closed

[2019-06-14 08:27] #194 closed

[2019-06-17 13:38] agrabeli commented on #133
@hellais @sarathms When I opened this ticket, I would type in a URL in the Input section of the Search page, and then click "Anomalies" and "Filter Results". At the time, this wouldn't render any results, which is why I said that it "didn't work".

However, I am now able to filter measurements based on a single URL, and it works beautifully! This is so exciting! :)

I'll close this ticket (as eith

[2019-06-17 13:38] #133 closed

[2019-06-17 16:39] sarathms opened #197 "Fix layout problem in Hero for NDT/Dash measurements"
The 3-column table layout seems to have suffered a problem in one of the refactoring exercises. It shoulnd't look like this:
![image](https://user-images.githubusercontent.com/700829/59621239-dc147f80-90fc-11e9-9e5e-b343dc529bb4.png)

[2019-06-17 16:51] holantonela commented on #139
Why we need `Confirmed Blocked` and `Likely blocked` labels? We already have filtering categories and measurement results that refers to those situations. Is there any case that `Confirmed blocked` is not `Confirmed` and that `Likely Blocked` is not an `Anomaly`?
---
It seems like the colored left border is not enough to easily visualize the result of the measurement. Is that the problem? Could I

[2019-06-17 17:04] holantonela commented on #37
We can include the server location information by adding a new item:

![Group](https://user-images.githubusercontent.com/7602174/59622624-7928e580-9108-11e9-9625-e00d592dd871.png)

[2019-06-18 04:01] sarathms opened #198 "Handle empty API responses"
Triggered by [a Sentry crash report](https://sentry.io/organizations/ooni/issues/1075163231/events/ea1d5b5040d04269a80b464ec451a639/), looks like there are a few places where empty API responses are not handled correctly.

E.g We use the first item in the array response to `/api/_/websites_networks?probe_cc=ER` as the selected item in a dropdown. Doesn't work as expected when API response is empty

[2019-06-18 08:23] hellais commented on #172
I think we should implement the same layout for this test as the one used in the failed web_connectivity test results:
![](https://user-images.githubusercontent.com/7602174/59623827-9d39f600-910b-11e9-9e14-f305ad5c9df2.png)
https://github.com/ooni/explorer/pull/193#issuecomment-502776510

[2019-06-18 13:24] bassosimone commented on #37
The reason why it is so is that DASH does not store the server name but just the IP address. I guess this was enough back in the day when I used it to write papers:

[code]

I'm going to also include the server name: https://github.com/measurement-kit/measurement-kit/issues/1865

[2019-06-18 13:30] sarathms commented on #138
This is implemented in #199. But currently blocking on ooni/design-system#58 for styling of the button's disabled state.

[2019-06-18 16:33] sarathms commented on #180
@agrabeli I have updated the missing keys from the code into the spreadsheet. They have empty values right now. I have also reset formatting on all cells.

[2019-06-18 19:00] holantonela opened #200 "Improve highlights"
Besides searching, highlights listing is best feature Explorer has. We can improve the way we are displaying this section on our homepage.

Using [the data set](https://github.com/ooni/explorer/blob/master/components/landing/highlights.json), I worked in two different layouts for this section. Cards are an excellent way to show this information. We can have a carousel with tabs to navigate differe

[2019-06-19 15:21] hellais opened #201 "Component filenames should be CamelCase"
We have some mixed file naming style. We have agreed with @sarathms that we will adapt them to follow CamelCase.

Example:

`MyComponent.js`
[code]

[2019-06-19 16:33] sarathms commented on #180
@agrabeli I have updated the missing keys from the code into the spreadsheet. They have empty values right now. I have also reset formatting on all cells. I should be able to see the changes you made when I import the csv file for integration.

[2019-06-20 17:23] sarathms opened #202 "Add more meta tags to page headers"
Currently, search engines indexing our pages are not able to extract useful information to show search result summaries (as show in screenshot below). By adding `<meta>` tags with relevant properties like `description`, `twitter:image`, `twitter:summary`, `og:*` etc., we can improve these results. Also helps when these pages are shared on social media.

![image](https://user-images.githubuserconte

[2019-06-24 14:05] sarathms commented on #101
@holantonela The added bar looks like this.
![image](https://user-images.githubusercontent.com/700829/60025122-ff907a80-9666-11e9-9a2f-b2eb75a6b699.png)

Alternatively, there is another way of doing this by adding a horizontal bar, effectively a crossbar at the cursor.
![image](https://user-images.githubusercontent.com/700829/60025284-5007d800-9667-11e9-8e57-3175f5d0b3a5.png)

Interaction-wise, fi

[2019-06-24 16:57] holantonela commented on #101
It is great! Could we have dotted light grey lines? I think we want to have a dot, too. I'm looking at the docs and seems possible. @hellais what do you think?
https://formidable.com/open-source/victory/docs/victory-voronoi-container/

[2019-06-24 17:23] sarathms opened #204 "Multiple values on y-axis for smaller ranges"
When number of measured networks is within a small range of say `[0, 4]`, the y-axis tick values end up as duplicates since we round them off to the nearest whole number.
![image](https://user-images.githubusercontent.com/700829/60038002-19d75200-9681-11e9-972b-78183d7e7a22.png)

This can be eliminated by rounding to one decimal point, but it wouldn't make much sense on the graph. Since we are tal

[2019-06-24 17:26] sarathms commented on #90
One problem with the above mentioned fix is that we lose the pointer on both tooltips. To avoid that we can orient the two tool tips in opposite directions.

![Screenshot from 2019-06-24 13-25-21](https://user-images.githubusercontent.com/700829/60038952-99662080-9683-11e9-803a-5030f135486f.png)

[2019-06-24 18:43] sarathms commented on #101
Like this?
![image](https://user-images.githubusercontent.com/700829/60043533-4e9dd600-968e-11e9-9db0-c37a3f2aa884.png)

Will look into rendering a dot at the highlighted point.

[2019-06-24 18:55] holantonela commented on #101
Yes!

Awesome, thanks!

[2019-07-01 18:39] sarathms commented on #176
This bug isn't reproducible anymore.

[2019-07-01 18:43] sarathms commented on #130
Cannot reproduce this anymore. This must have gotten fixed after the improvements made to pipeline and API took effect. @agrabeli Please check if you still face difficulty operating the search page.

[2019-07-04 04:18] sarathms commented on #54
@hellais Should this issue be moved to [ooni/pipeline](https://github.com/ooni/pipeline)?

[2019-07-04 04:21] sarathms commented on #171
Closing as per https://github.com/ooni/explorer/issues/116#issuecomment-499896501

[2019-07-04 04:21] #171 closed

[2019-07-04 05:24] sarathms commented on #70
Same as #122

[2019-07-04 05:25] #70 closed

[2019-07-04 19:37] sarathms commented on #105
As of now, I have removed the **`Last tested`** label and the toggle button when the stats are empty.

![image](https://user-images.githubusercontent.com/700829/60684927-57509200-9e6e-11e9-9f13-1275e36f6fb8.png)

But even when there is data, we haven't really done anything to the layout of the content. Here's what we have. @holantonela any suggestions how we can present this information?

![image]

[2019-07-04 20:35] sarathms commented on #125
Unable to reproduce this now on any browser. @hellais Can you help debug this?

[2019-07-04 20:46] sarathms commented on #116
Opened #211 to address this.

[2019-07-05 00:48] sarathms commented on #87
Closing this as the items discussed here are now being tracked in their own issues.

[2019-07-05 00:48] #87 closed

[2019-07-05 00:55] sarathms commented on #73
Closing this as the feature has been in the country profile page for a while now where we show data about connectivity to Tor.
It still needs some UI updates which is being tracked in #105.

[2019-07-05 00:55] #73 closed

[2019-07-05 01:10] sarathms commented on #67
@zero77 Thanks for your interest and sharing your thoughts. Sorry about the late response.

We have a planned feature which would allow one to lookup data about domains/websites/URLs that were tested in a country across all the tested networks. But we currently have some limitations on the backend which prevents us from providing this feature yet. (related issue ooni/api#86)

[2019-07-05 18:17] holantonela commented on #105
As I suggested in #174, `0/8 Networks` header is confusing. We could have `8 Tested Networks`, instead.

The AS number should link to the results of a search query that looks for that ASN, timeline, and test type.

[Based on the original mockup](https://www.figma.com/file/JNYZCnvn7DizbhKv0vDF4s/Explorer-Country-Pages-(Copy)?node-id=296%3A1786), you can re-use the same line graphs. @hellais what do

[2019-07-08 12:16] hellais commented on #54
yes I think so

[2019-07-08 12:20] hellais commented on #116
imho we should drop the flag altogether in this iteration and reconsider introducing it with a more visible pattern. I think with the flag being so small it doesn't really add that much value and I find it unbalances the layout of the page especially on desktop.

I suggest we drop it altogether, but file an issue to consider re-adding it in the future (or maybe keep this open and rename it).

[2019-07-09 09:19] hellais opened #212 "Replace "Antarctica" with "Oceania" in the country list"
![Screenshot 2019-07-09 at 11 19 06](https://user-images.githubusercontent.com/424620/60876077-7323b180-a23b-11e9-8454-57b2cbb6045f.png)

[2019-07-09 09:20] #197 closed

[2019-07-09 09:21] hellais commented on #176
Then I guess we can close this.

[2019-07-09 09:21] #176 closed

[2019-07-09 09:22] hellais commented on #130
Yeah I think this is old at this point. @agrabeli if you notice similar issues again please file a new issue.

[2019-07-09 09:22] #130 closed

[2019-07-09 09:23] hellais commented on #112
We now opted for the tradeoff of showing those all as green, though there may be some that are actually failed.

We currently can't do much without touching the pipeline.

I suggest we close this issue and keep #113 open to remind ourselves to test it when pipeline fixes are rolled out.

[2019-07-09 09:24] #112 closed

[2019-07-09 09:25] hellais commented on #90
Yeah I think this solution works.

[2019-07-09 09:28] hellais commented on #101
@sarathms is it possible to make the line "snap" to the point you are selecting?

Currently as I move around the cursor it's actually displaying in the tooltip some values which are not exactly the ones selected by the cursor.

[2019-07-09 09:28] #192 closed

[2019-07-09 09:34] hellais commented on #125
Yeah I can't reproduce it either anymore. I say we close it

[2019-07-09 09:34] #125 closed

[2019-07-13 13:05] holantonela commented on #200
https://marvelapp.com/1gf8bh56/screen/58973568/handoff

[2019-07-13 13:06] hellais commented on #200
We agree to drop the carousel and align it to the mock making it 3 column width.

[2019-07-13 13:45] sarathms opened #214 "Enable toggling sections by clicking entire row"

[2019-07-13 13:59] hellais commented on #105
Quick mock of the layout for the vanilla tor page:
<img width="660" alt="Screenshot 2019-07-13 at 15 57 15" src="https://user-images.githubusercontent.com/424620/61172614-f1a78880-a586-11e9-8925-ffdad7db56ad.png">

It should use the style of the network section.

[2019-07-13 14:00] hellais opened #215 "Add zero state for when data is missing"
A good example of this is: https://explorer-beta.ooni.io/country/IO.

[2019-07-13 14:02] hellais commented on #215
cc @holantonela

[2019-07-13 14:05] hellais commented on #139
Confirmed blocked is for cases in which we are sure that the site is blocked. This only applies to web_connectivity test results.

[2019-07-14 09:18] hellais commented on #198
Maybe related: https://github.com/ooni/explorer/issues/215

[2019-07-14 09:19] hellais commented on #204
I am going to look into fixing this.

[2019-07-14 09:20] hellais commented on #56
@holantonela do you think we can do something for this in a quick and easy way? Maybe this can be solved with just some copy from @agrabeli .

[2019-07-14 09:20] hellais commented on #113
This is fixed by instead showing OK thought it may in fact be error. I am renaming this issue and moving it to icebox.

[2019-07-14 09:21] hellais commented on #114
@holantonela what do you think of this?

[2019-07-18 09:24] #105 closed

[2019-07-18 14:08] hellais commented on #204
I opened a PR with a fix for this in: https://github.com/ooni/explorer/pull/216.

[2019-07-18 16:02] hellais opened #217 "Performance test results are not shown in the overview page"
As reported by @agrabeli in: https://github.com/ooni/explorer/issues/123.

![Screenshot 2019-07-18 at 17 58 22](https://user-images.githubusercontent.com/424620/61473223-46337500-a986-11e9-90f2-51d46a5c9e3f.png)

The performance test results bars are missing from the test coverage chart in the main page.

[2019-07-18 16:04] hellais commented on #123
Yes this definitely looks like a bug. I filed a separate issue for it here: https://github.com/ooni/explorer/issues/217

I think these are more substantial questions about how to improve this chart in the country page.

The rational behind doing it this way was that we wanted to provide a chart that gives an idea to the user "how well covered" a particular country is. The way to estimate that is t

[2019-07-19 09:00] hellais opened #218 "Inconsistency in anomaly indicator on search page"
![Screenshot 2019-07-19 at 10 59 08](https://user-images.githubusercontent.com/424620/61523274-4bd79c00-aa14-11e9-9fda-ac8f88cea714.png)

In the search page the legend says "Anomaly" for the orange colored indicator, yet in the pill in the row we say "Likely blocked".

I think "Likely blocked" is too strong of a wording and I would suggest that we align them to both say "Anomaly".

@agrabeli @hola

[2019-07-19 09:29] hellais opened #219 "Replace Measurement ID with Report ID in measurement page"
![Screenshot 2019-07-19 at 11 27 34](https://user-images.githubusercontent.com/424620/61525254-4bd99b00-aa18-11e9-86a4-47ddf27d13f7.png)

In the measurement page we are calling Measurement ID what is actually the Report ID.

[2019-07-19 10:26] hellais opened #220 "Typo "Measrments" instead of "Measurements" country list"
![Screenshot 2019-07-19 at 12 25 28](https://user-images.githubusercontent.com/424620/61528936-56982e00-aa20-11e9-9bed-62aa48bf0e43.png)

See the attached screenshot.

[2019-07-19 10:50] hellais commented on #102
I made some tweaks to the font sizes in: https://github.com/ooni/explorer/pull/221.

You can see the difference between the two here:
![Screenshot 2019-07-19 at 12 46 57](https://user-images.githubusercontent.com/424620/61530140-872d9700-aa23-11e9-82ce-297f947004f0.png)

I was also trying to style the text inside of the `SummaryText` component, but I suspect it's not something that is immediate to

[2019-07-19 13:17] sarathms opened #222 "Document steps to synchronize localization strings"
_Originally posted by @sarathms in https://github.com/ooni/explorer/pull/196#issuecomment-502103621_

As of this PR, the workflow is:

1. `yarn build`
2. `node scripts/extract-react-intl-keys.js` -> ./static/lang/keys.json
3. Download spreadsheet as csv
4. `~/ooni/translations $  ./explorer-sync-csv-source.sh` -> explorer/en/strings.json
5. `python json-key-check.py --json-strings explorer/en/stri

[2019-07-19 13:18] #180 closed

[2019-07-19 13:25] #116 closed

[2019-07-19 15:30] #204 closed

[2019-07-19 22:23] oliviakeene commented on #201
Hi, I can handle this if no one is currently working on it.

[2019-07-20 04:43] sarathms commented on #201
Thank you @oliviakeene. You are welcome to work on this. As a heads up, we are working towards launching this portal later this month. There might be delays in responding to PRs until then. Feel free to ask questions.

[2019-07-20 15:56] oliviakeene commented on #201
I'm just wondering if this issue includes the flag file names, and if so what is the naming convention?  Should the file ad.js be AD.js, FlagAD.js, or something else?  Thanks!

[2019-07-23 05:52] sarathms commented on #219
This is from the copy. I have edited the spreadsheet. This should reflect in the next round of localization update.

[2019-07-23 05:55] sarathms commented on #179
@hellais I am leaning towards `2`, but I am fine with `3` or `4` too. Do you have a preference? Also see the comment above.

[2019-07-23 11:13] #220 closed

[2019-07-23 11:13] #214 closed

[2019-07-25 17:08] sarathms commented on #217
The bars for tests with less measurements weren't missing. They just stay as invisible as they were before hiding other tests with a bigger share of measurement count.

The problem is that we weren't updating the domain (based on `testCoverageMaxima`) for the stack chart which is computed adding up counts from all `test_group`s.

[2019-07-25 17:12] sarathms commented on #217
After the fix:
![image](https://user-images.githubusercontent.com/700829/61894164-d2412180-aedd-11e9-8d24-96b3e340bdd9.png)

![image](https://user-images.githubusercontent.com/700829/61894195-e553f180-aedd-11e9-86c7-f18b51edce9a.png)

[2019-07-26 16:58] sarathms commented on #150
I don't think we have that capability yet. https://github.com/ooni/api/issues/85 is still open.

This is done in #125

We are showing 30 days by default and had decided long back that we will first launch without the tinme period filter and then enable it later on. If we increase the default period, we have to do it across the page.

[2019-07-28 12:09] sarathms commented on #102
Fixed in #221

[2019-07-28 12:09] #102 closed

[2019-07-28 12:21] sarathms commented on #165
This is yet to be done as per the last comment.

[2019-07-29 04:13] sarathms commented on #165
Now implemented this way. Tooltip showing full URL, truncated to ~40 characters. Showing full domain and last part of the path.

![image](https://user-images.githubusercontent.com/700829/62021509-8b7d5100-b195-11e9-8d5f-0bfd1a205ec5.png)

[2019-07-30 15:03] #36 closed

[2019-07-30 15:03] #131 closed

[2019-07-30 15:03] #154 closed

[2019-07-30 15:03] #178 closed

[2019-07-30 15:09] #52 closed

[2019-07-30 15:09] #83 closed

[2019-07-30 15:09] #138 closed

[2019-07-30 15:27] #212 closed

[2019-07-30 15:28] #200 closed

[2019-07-30 15:30] hellais commented on #217
Ah yes I see what you mean. I have checked with the latest deployed version and it works well as expected.

[2019-07-30 15:30] #217 closed

[2019-07-30 15:31] hellais commented on #174
yes I agree we should make the bars in the country page for the IM tests grey as we don't derive any anomalies there yet.

[2019-07-30 15:33] hellais commented on #90
This is fixed by https://github.com/ooni/explorer/pull/205

[2019-07-30 15:33] #90 closed

[2019-07-30 15:33] hellais commented on #101
My last comment still needs to be addressed in https://github.com/ooni/explorer/pull/205 or a new PR.

[2019-07-30 15:37] hellais commented on #104
I now see the IM test charts text is a bit bigger, but it's still smaller than the one in the websites charts.

Can we make the two the same size?

[2019-07-30 15:38] hellais commented on #167
@sarathms did you end up hiding any charts?

[2019-07-30 15:39] hellais commented on #150
This looks good. We need to update the copy though because on the deployed site I only see the to be translated keyword.

[2019-07-30 15:40] hellais commented on #165
This is good and it works as expected.

[2019-07-30 15:40] #165 closed

[2019-07-30 15:42] #150 closed

[2019-07-30 15:43] #101 closed

[2019-07-30 15:43] #104 closed

[2019-07-30 15:43] #167 closed

[2019-07-30 15:43] #174 closed

[2019-07-30 15:44] #122 closed

[2019-07-30 15:45] hellais opened #228 "When the browser language is unsupported, default to english"
Currently if the user has their browser language set to something other than english we will show the to be translated strings. We should instead default to english for an unsupported language.

[2019-07-30 15:46] #37 closed

[2019-07-30 16:06] hellais commented on #172
Here is a sample measurement for this: https://explorer-beta.ooni.io/measurement/20190729T143026Z_AS30873_jQmaexXwC2JNBJ9E1pXRJbCuNz7D3qUSWJcJ2Zf1d47Yv9vmLZ.

 It's still not grey the background. I am OK with us doing this post-launch.

[2019-07-30 16:08] hellais commented on #219
This is fixed.

[2019-07-30 16:08] #219 closed

[2019-07-30 16:10] hellais commented on #128
This is now fixed by having a sticky navbar.

<img width="1342" alt="Screenshot 2019-07-30 at 12 09 57" src="https://user-images.githubusercontent.com/424620/62146230-f7a9a300-b2c2-11e9-93dc-82386c930755.png">

[2019-07-30 16:10] #128 closed

[2019-07-30 16:10] hellais commented on #33
I would say this is now done.

[2019-07-30 16:10] #33 closed

[2019-07-30 16:10] hellais commented on #63
This is now done.

[2019-07-30 16:10] #63 closed

[2019-07-30 16:11] hellais commented on #71
This is now done.

[2019-07-30 16:11] #71 closed

[2019-07-30 16:11] hellais commented on #39
This is now done.

[2019-07-30 16:11] #39 closed

[2019-07-30 22:37] sarathms opened #229 "Handle missing tcp_connect data in WhatsApp measurements"
Measurement in question [is this](https://explorer-beta.ooni.io/measurement/20190620T081634Z_AS24757_6JefVaUG2C4Drg8jQlzfOAXC2PB3KGChehEcfdne3ZHYsM7YbP)

@hellais Shouldn't it have an false-y value like `null` or `false` instead of dropping the key entirely? Or is this a one-off case?

[2019-07-30 22:46] hellais commented on #179
I would suggest going for 3.
The URL tested is more important than the reason for blocking.

We may also want to add next to the URL the category code in the future and I think 3 is more scalable in that direction.

[2019-08-01 01:13] hellais opened #232 "Default to choosing the current date in the search"
Currently when you go to the search page the until filter is left blank and hence even measurements from the future appear in the results.

I think it would be ideal to pre-fill the until field with the current date. This has the added benefit that if somebody shares a search listing result with somebody it will most likely be valid in the future as well (as opposed to the list changing depending

[2019-08-01 01:16] hellais commented on #229
Here is the raw measurement recovered from the API (the OONI Explorer page was giving a 500 error):
[code]

In theory you are right, however there are some malformed measurements and explorer should ideally handle also missing keys as that is something that can happen.

[2019-08-01 01:16] #229 closed

[2019-08-01 14:54] hellais opened #235 "The raw measurement data section should be open by default"
Currently the Raw Measurement Data section is collapse when you open the page. It should be expanded by default. I think this is the right pattern as it is at the end of the page and it does not clutter the UI having it expanded by default.

[2019-08-01 19:48] sarathms opened #236 "ASN switcher on country page is broken"
## Expected Behavior
When an ASN is selected from the dropdown, it should be the selected one after the page is updated with new data.

## Actual Behavior
It always shows the first item in the list as the selected one, although data shown is for the selected ASN.

[2019-08-02 15:43] sarathms commented on #12
@hellais This is the only one that needs to be checked before this issue can be closed. I think we should add a `tooltip` prop to all the input components which provides a `PropType.node` shown on hovering a `(?)` icon near the label. We should be able to provide links to relevant documentation about nettests, spec etc.

What kind of validation can be done on the AS input?

[2019-08-02 15:45] hellais commented on #12
I guess we can check that the format is either just a number or a number with the `AS` prefix. If it's just a number I think we need to prepend `AS` to it before doing the search.

[2019-08-02 15:47] hellais opened #240 "Remove the accessible side tab from every result row in search except web_connectivity"
Since we don't calculate pipeline side heuristics for the IM tests or any other test than web_connectivity we should drop the green side bar from these result rows in search.

[2019-08-02 19:55] sarathms commented on #12
Looks like you get the same results when you send in `1234` or `AS1234`. So we can accept one of the two formats and reject others.

[2019-08-07 15:16] #235 closed

[2019-08-08 09:07] #236 closed

[2019-08-08 11:53] hellais opened #241 "TypeError: Cannot read property 'length' of undefined on Facebook messenger result"
This is a sample measurement that shows the problem:
http://localhost:3100/measurement/20190805T203820Z_AS24757_HdjjBm1qvkuq0Rb2fqIcUgATAgEft7pQOHOL1wMooRaQA9iwl7

[2019-08-08 15:23] #241 closed

[2019-08-08 18:06] sarathms opened #243 "Replace search page loader with content loader"
Implement a content loader similar to the one used for landing page chart. Using: [`create-content-loader`](http://danilowoz.com/create-content-loader/).

[2019-08-09 16:52] hellais commented on #56
I suggest we adjust the default style of the 404 page to be closer to our other existing pages.

Here is a quick mockup of how it could look like:

![OONI 404 page mockup](https://user-images.githubusercontent.com/424620/62795333-d0c74a00-bad6-11e9-9e2f-84dad3b34ed9.png)

[2019-08-09 17:14] hellais commented on #215
My suggestion is that when we have no data to display we don't display the charts and just display "No data available".

Here is a quick mockup for it:

![NoDataAvailableMockup](https://user-images.githubusercontent.com/424620/62796510-bfcc0800-bad9-11e9-8fd8-2aae600bdf30.png)

The color for the text should be `gray6` and the font size should be 20px for the chart label and the once under websites

[2019-08-09 17:18] hellais commented on #173
Yeah I also think that dropping the pagination in the websites section is going to make the page not as useful (especially since we don't support filtering by URL at the moment).

I think we should convert this issue into adding support for filtering by search and drop the pagination once we do that.

[2019-08-09 17:26] hellais commented on #218
I think that since we are going to be dropping the legend from the top this is not really an issue anymore.

I am still of the opinion we should use the "Anomaly" label in place of "Likely blocked", but I will leave this decision to @agrabeli .

[2019-08-09 17:28] hellais commented on #218
Ah actually an inconsistency still exists in that the filter on the sidebar says Anomalies.

I think the easiest solution is to just align these to what is in the sidebar and use the terminology of "Anomaly" and "Confirmed".

[2019-08-09 17:29] hellais commented on #139
I suggest we change this labelling to "Confirmed" and show a tooltip on hover that say "Website confirmed to be blocked".

We can display a similar tooltip on the search filter label.

@agrabeli what do you think?

[2019-08-09 17:31] hellais commented on #114
I think the quick and easy way to do this is to just display the full URL (with no styling) wether it is HTTP or HTTPS.

[2019-08-09 18:06] agrabeli commented on #218
@hellais I agree that for consistency (and to reduce any potential ambiguity) it's probably best to use "Anomaly" instead of "Likely blocked" for the relevant Web Connectivity measurements. Though I think we should use "Confirmed blocked", as plain "Confirmed" is probably too ambiguous.

[2019-08-09 18:13] agrabeli commented on #139
@hellais Ideally it would say "Confirmed blocked", as I suspect that not everyone will hover over it to learn what is confirmed. How about we say "Confirmed blocked" in the legend, and just "Confirmed" in the button?

That way, it would be consistent enough (since it's quite clear what it's referring to since "blocked" is mentioned in the legend), and as inconsistent as "Anomalies" (legend) and "A

[2019-08-09 18:39] sarathms commented on #218
Copy has been updated to reflect this.

[2019-08-09 18:40] sarathms commented on #139
Copy has been updated to show 'Confirmed' in the badge.

[2019-08-09 19:01] sarathms opened #246 "Filter websites data in country page by URL"
Continues from #173

Currently, the website section shows data for all websites tested in a particular network for a given period. While it allows access to all available data, it is more useful to be able to filter this section by specific URL.

![image](https://user-images.githubusercontent.com/700829/62802517-10316e80-bab6-11e9-8e0b-dd0b15691cb5.png)

When this is available, the section need no

[2019-08-09 19:33] sarathms commented on #114
I have removed the styling for `https` URLs. Instead of showing the full URL which can get quite long in some cases, I have now truncated them properly and added a tooltip which shows the full URL.

![image](https://user-images.githubusercontent.com/700829/62804358-052d0d00-babb-11e9-8538-0395e693b469.png)

[2019-08-13 10:58] #232 closed

[2019-08-13 11:03] hellais opened #248 "Handle case confirmed: true & blocking: false"
As mentioned in: https://github.com/ooni/explorer/pull/239#issuecomment-519432493 there can be some cases in which the measurement is confirmed (because we see a blockpage), but the `blocking` test_key is set to `false`, maybe because the control request failed.

In these cases, currently, we don't show the reason for blocking under the website as we do for the others.

We should consider if we wa

[2019-08-13 11:03] #179 closed

[2019-08-13 11:10] hellais opened #249 "Add timer to the search page"
Currently the search page takes a lot of time to load especially with some of the more demanding queries like filtering by confirmed or anomalies.

I think it would improve the UX to add a timer that counts how long the query has been running so as to give a clear indication to the user that stuff is happening and it's not actually stuck.

It also allows them to kind of remember how many seconds i

[2019-08-13 12:11] holantonela commented on #215
This is good! What is the main action for landers here? Do we want to invite users to run OONI Probe? In that case, we can include a notification at the top saying something close to "OONI works with volunteers for collecting open data, do you want to try? Download OONI Probe"

I know that zero states for countries is not that common. But, we can include this "call for action" banners in countries

[2019-08-13 12:20] holantonela commented on #173
Yep. The problem is how the content jump when users go to the next page. Maybe, we can fix the container's height to avoid the weird jump. Even better, we can use/implement a [lazy loading pattern](https://en.wikipedia.org/wiki/Lazy_loading) for the graphs. [Seems like](https://stackoverflow.com/questions/16130735/highstock-how-to-combine-lazy-loading-and-dynamic-data#17662405) there is a workarou

[2019-08-13 12:42] holantonela commented on #218
This looks great and seems fixed. I'm closing this ticket.

[2019-08-13 12:42] #218 closed

[2019-08-13 12:49] holantonela commented on #139
Confirmed label looks ok. I like the tooltip idea, not sure how it will expand coherently to other scenarios, though. Do we want to have tooltips for all "Confirmed" labels?

[2019-08-13 13:03] holantonela commented on #56
Love it! Should `exploring some measurements` go to http://explorer-beta.ooni.io/countries? I think so.

[2019-08-13 13:35] hellais commented on #215
Yes that is a great idea.

We don't currently have a notification component or anything of this sort. If you have some time to make a mock of it that would be great.

In any case this is perhaps not needed for the launch.

[2019-08-13 13:44] hellais commented on #173
Yeah this I think should be easy. @sarathms can you fix the height of the container when it's loading? I think it would be even better if we showed five loading bars of the height of the content.

I am not sure how lazy loading is going to improve the experience while loading. Another option could be to use https://github.com/danilowoz/react-content-loader (which we already use in the landing page

[2019-08-13 13:48] holantonela commented on #114
It looks good. Is done for me.

[2019-08-13 13:48] #114 closed

[2019-08-13 13:49] #228 closed

[2019-08-13 13:52] hellais commented on #139
Yes I suggest that as we add heuristics for "confirming" more types of tests the tooltip will say different things depending on the type of test.

The tooltip on the filter/search sidebar will OTOH include information about all the possible scenarios.

[2019-08-13 13:54] hellais commented on #56
Initially I thought it would go to search, but I now see that on the homepage Explore goes to countries so I agree it should point to that.

[2019-08-13 13:59] holantonela opened #250 "Implement lazy loading for charts"
As part of #173, we discussed how to improve users perception of loading when our heavy charts are loading. @hellais mentioned that https://github.com/danilowoz/react-content-loader is already in use.

[2019-08-13 14:00] holantonela commented on #173
Gotcha. Done #250

[2019-08-13 16:03] #240 closed

[2019-08-13 16:27] holantonela opened #252 "SERP: Add a type-of-test preview in confirmed labels"
We want to provide an easy-preview of the test that rendered a `confirmed` label in our search engine results page. It can be a tooltip hover the confirmed badge.

Example query: http://explorer-beta.ooni.io/search?until=2019-08-13&since=2019-02-01&only=confirmed

Yes I suggest that as we add heuristics for "confirming" more types of tests the tooltip will say different things depending on the typ

[2019-08-13 16:29] holantonela commented on #139
Cool. I created #252 for following that work. I think we are done here, then.

[2019-08-13 16:29] #139 closed

[2019-08-13 17:28] holantonela opened #253 "Country page: websites and apps bar charts should match style"
Websites and Apps section in the country pages have bar charts that shows the qty of measurements done in that respective area. We talked about to unify the style of those.

<img width="1364" alt="Captura de Pantalla 2019-08-13 a la(s) 2 17 48 p  m" src="https://user-images.githubusercontent.com/7602174/62963013-809dff80-bdd6-11e9-84c9-498ab747376f.png">

<img width="1353" alt="Captura de Pantalla

[2019-08-13 17:29] holantonela commented on #175
I think this is done. I filed #253 for matching charts styles.

[2019-08-13 17:29] #175 closed

[2019-08-13 17:39] holantonela commented on #215
Agreed. So, let's move forward with "No Data Available" placeholder for this release.

[2019-08-14 14:50] agrabeli opened #255 "Fix link to measurements in the 500 error page"
I was exploring the Iran country page and then suddenly it redirected to this page:

![redirect-error](https://user-images.githubusercontent.com/8290574/63030876-638b2e80-beb3-11e9-8ba0-56bd59a81494.png)

I then clicked on the "exploring some measurements" link, but it seems that the wrong link has been linked, since it points to: https://explorer-beta.ooni.io/countried instead of https://explorer

[2019-08-14 14:58] agrabeli opened #256 "Vanilla Tor measurements missing from IR country page"
Many Vanilla Tor measurements have been collected from Iran over the last years (which we discuss and analyze in our relevant research report: https://ooni.io/post/iran-internet-censorship/) but they're missing from the Iranian country page on OONI Explorer. See:

![ir-no-vanilla-tor](https://user-images.githubusercontent.com/8290574/63031671-adc0df80-beb4-11e9-9612-80419dff95b3.png)

[2019-08-15 13:08] hellais commented on #253
Yes I think it makes sense to consolidate the style of the charts to be the same.

I personally find the style of the IM apps to be more clear.

[2019-08-15 13:09] hellais commented on #173
Ok let's close this issue then

[2019-08-15 13:09] #173 closed

[2019-08-15 13:10] hellais opened #257 "The apps charts should be dark grey"
We currently don't detect anomalies for the IM tests so we should not be displaying those charts in green.

Rather we should change them to be gray8 `#343a40`.

This should be done prior to launch.

cc @holantonela

[2019-08-15 13:59] holantonela commented on #257
Thanks for opening this ticket @hellais. It can be done together with #253.

[2019-08-15 14:00] holantonela commented on #253
Me too. Let's use IM apps charts so. Thanks!

[2019-08-15 14:20] hellais commented on #257
I think this is significantly easier than 253 (I expect it to be a one-line fix) and it should be completed prior to launch.

[2019-08-16 13:03] agrabeli opened #258 "Blocked websites not displayed on country pages"
When accessing the country page of Iran (and other country pages), I cannot view the blocked sites that are meant to be listed under the Websites section.

When landing on the IR page, the user currently views the following under the Websites section:

![ir-websites](https://user-images.githubusercontent.com/8290574/63169363-e8528580-c036-11e9-95df-8e300de4b8bf.png)

Please fix the heuristics so t

[2019-08-16 13:06] hellais commented on #258
This is in fact caused by a pipeline bug: https://github.com/ooni/pipeline/issues/214

[2019-08-16 14:35] agrabeli opened #259 "Some links to measurements in websites section of country page don't work"
I was on the Iran country page and I scrolled down to the Websites section. I tried to open the link "Explore more measurements" displayed under the tested URL, but (a) it took a long time to load the page, even though I'm on a fast network, (b) when it eventually did load, it presented the following error page:

![error-page](https://user-images.githubusercontent.com/8290574/63175159-bb589f80-c04

[2019-08-16 18:50] agrabeli opened #260 "Add "Explore more measurements" for Circumvention Tools and Networks"
Currently the Websites and IM results displayed in the country pages of the new OONI Explorer allow users to dig into the measurements by providing the "Explore more measurements" links (which point to relevant measurements in the Search page).

It would be great if similar "Explore more measurements" links were also added for the results under the Circumvention Tools and Network sections, so that

[2019-08-16 18:58] agrabeli opened #261 "Replace "Average" with "Median" in Network metrics?"
The NDT and DASH metrics under the Networks section of the new OONI Explorer country page say "Average" Download/Upload/Ping.

Shouldn't it say "Median" instead of "Average"?

[2019-08-19 13:11] #253 closed

[2019-08-19 13:11] #257 closed

[2019-08-21 07:41] sarathms opened #264 "Do not show 'No Data Available' while charts are loading"
_Originally posted by @hellais in https://github.com/ooni/explorer/pull/254#issuecomment-522550275_

[2019-08-23 10:02] agrabeli opened #266 "Display amount of measurements collected per country per year"
Currently on OONI Explorer, you can only see how many measurements have been collected per country over the years.

**Community members have expressed the need to be able to view how many measurements have been collected from each country per year.**

It may be worth considering adding support for a feature which allows users to filter the measurements per country based on varying time-frames (yea

[2019-08-23 10:09] agrabeli opened #267 "Fix dates filter in Search page"
When filtering the measurements via the Search page for a specific time-frame (July 2019), I selected 1st July 2019 in the "From" field and 31st July 2019 in the "Until" field.

However, this resolved the measurements for 30th June 2019 to 30th July 2019.

It therefore seems that the selection of dates (in the calendars displayed for both "From" and "Until") is offset by 1 day.

[2019-08-23 13:52] agrabeli opened #268 "Replace "im" with "IM" in measurement coverage by test class graph"
The Measurement Coverage by Test Class graph available in all OONI Explorer country pages includes legends which explain each OONI Probe test class.

However, when hovering over the bars within the graph, "im" (presented in the pop-up black label) does not correspond to any of the provided legends.

I therefore propose:

1. Replace "im" with "IM"
2. Add "(IM)" next to the legend "Instant Messaging

[2019-08-23 13:56] agrabeli opened #269 "Capitalize the initial letters of test classes displayed in measurement coverage graph"
The Measurement Coverage by Test Class graph available in all OONI Explorer country pages includes legends which explain each OONI Probe test class.

However, when hovering over the bars within the graph, the test class names (e.g. Websites) are written in all lower-case, which is inconsistent with (a) the word Networks (also displayed in the black pop-up labels and which is capitalized), and (b)

[2019-08-24 17:38] agrabeli opened #270 "Move overview paragraph to top header of Country pages"
Based on UX feedback collected at CCCamp, it was proposed that we move the overview paragraph in the Country pages to the top header, right under the Overview heading.

[2019-08-24 17:43] agrabeli opened #271 "Edit copy of Overview paragraph to trim it down"
Based on UX feedback, it was proposed that the copy of the Overview paragraph is made more concise. Perhaps consider replacing the paragraph with bullet points, or with a single sentence, or widgets.

For example:

Since XXX OONI Probe users have collected YYY measurements from ZZZ local networks.

Explore the data below to check the accessibility and/or blocking of sites and services.

[2019-08-24 17:43] hellais opened #272 "Problem when changing test_name in search page"
## Expected Behavior

When I change from web_connectivity with an input to whatsapp I should see results.

## Actual Behavior

I see no results when switching from one to the other because the `input` field is preserved and the result listing leads to zero results

## Steps to Reproduce the Problem

  1. Go to /search
  2. Filter by web_connectivity & input = `google.com`
  3. Apply the filter and

[2019-08-24 17:46] agrabeli opened #273 "Create domain-specific views"
Community members proposed that we include domain-specific views that aggregate information across countries, so that you're able to easily compare the blocking of a specific domain across countries.

It would also be great to show more granularity with regards to domain-specific measurements.

This could potentially be featured as a separate top navbar within OONI Explorer.

[2019-08-24 17:55] agrabeli opened #274 "Replace "input" with "Domain" in Search page"
Edit the copy to replace "Input" with "Domain" in the Search page so it's clear to users what we mean.

[2019-08-24 17:57] agrabeli opened #275 "Swap the order of Test Name & Country drop-down menus in Search page"
Community members proposed that we swap the order of the Test Name & Country drop-down menus in the Search page so that the Country drop-down menu is presented first.

This would be an important thing to do, particularly since most users probably won't recognize OONI Probe test names.

[2019-08-28 09:49] hellais commented on #274
This is related to: https://github.com/ooni/api/issues/52

[2019-08-28 15:32] hellais commented on #266
This should be done post-launch.

[2019-08-28 15:33] hellais commented on #267
This is most likely an issue in the API I will look into what is up with this.

[2019-08-29 02:34] sarathms commented on #268
@agrabeli does #269 also address the same thing?

[2019-08-29 10:15] hellais commented on #268
I think we should have what appears in the bubble be the same as the legend.

@sarathms is it easy to align what is in the bubble to what is in the legend (i.e. "Instant Messagging", "Middleboxes", etc.)?

[2019-08-29 10:15] hellais commented on #269
I think this is a duplicate of https://github.com/ooni/explorer/issues/268

[2019-08-29 10:18] hellais commented on #270
You mean the overview summary?
![Screenshot 2019-08-29 at 12 16 14](https://user-images.githubusercontent.com/424620/63932131-dde0b480-ca56-11e9-9ede-cb77530b34e9.png)

I think it's a good idea to move it up and also perhaps improve a bit the copy by making it shorter and highlight the bits of text which are variable (the dates, the measurement counts, etc.).

This is also related to: https://gith

[2019-08-29 10:19] hellais commented on #271
Yes I think this is a good idea.

[2019-08-29 10:19] hellais commented on #273
This is a duplicate of https://github.com/ooni/explorer/issues/67

[2019-08-29 10:19] #273 closed

[2019-08-29 10:20] hellais commented on #274
I suspect we will not be able to complete this by the time of the launch as it also requires backend and pipeline related changes.

[2019-08-29 10:21] hellais commented on #275
Yes I think we should put it right above the test name selector so that they go together.

[2019-08-29 10:23] hellais opened #277 "Group test names by test group"
It was suggested at CCC that we group test names by the test group to make it easier for people to find measurements for the test they care about.
![Screenshot 2019-08-29 at 12 20 55](https://user-images.githubusercontent.com/424620/63932585-c0f8b100-ca57-11e9-9fed-94eec4a1c98a.png)

This can simply be a matter of grouping the `<select><option>` into a `<optgroup>`.

For example we would have: `we

[2019-08-29 14:41] sarathms commented on #275
Further, I would propose that we move dynamic fields like input/domain and status radios to the bottom of the sidebar. These would appear or hide themselves depending on the test name. Here's what it would look like.
![image](https://user-images.githubusercontent.com/700829/63950122-6e17fd00-ca49-11e9-9fb2-2d41e4ea92d3.png)

@hellais @agrabeli Do we see any UX problems with this?

[2019-08-29 16:51] hellais commented on #274
It turns out it's possible to do this only in the API and we already win a bunch of performance, so I went ahead and did it.

@sarathms in order to update the code you should use the  `domain=` query parameter instead of the `input=`

[2019-08-29 18:06] #12 closed

[2019-08-29 18:07] #215 closed

[2019-08-30 19:24] #272 closed

[2019-08-30 19:33] sarathms opened #278 "Fix UI 'jump' in transition from content loader to charts in Websites section"
As we start loading charts in the website section, the two stage transition from `WebsiteSectionLoader` to a bunch of `WebsiteChartLoader`s to the actual charts, the section appears to jump a pixels vertically. This is mostly due to a mismatch is the rendered dimensions of the content loaders and the actual content (chart boxes).

Previous discussion and attempts to fix this was done here: https:/

[2019-08-31 11:51] sarathms commented on #268
It is not as straight forward as it looks. The problem is that we use [internationalized components](https://github.com/ooni/explorer/blob/master/components/test-info.js#L20) to display test (group) names everywhere on the site right now. These don't work inside the dynamic tooltip in the chart.

Two solutions I can think of:
1. Add static English-only strings of names to the `testGroups` map and

[2019-09-02 12:14] #243 closed

[2019-09-02 15:54] #268 closed

[2019-09-02 15:54] #269 closed

[2019-09-02 16:56] agrabeli commented on #274
I think (in response to this ticket) @hellais edited the Search.Sidebar.Input string (in the spreadsheet with the copy) to Search.Sidebar.Domain, but this is not reflected in the beta deployment:

![domain-search](https://user-images.githubusercontent.com/8290574/64127696-14019980-cdb3-11e9-942e-8a12d528e52c.png)

@sarathms please make necessary changes so that the new OONI Explorer says "Domain"

[2019-09-02 16:59] agrabeli commented on #275
@sarathms I think that's a great suggestion! That makes a lot of sense, particularly since Input is only relevant to the Web Connectivity test.

[2019-09-02 17:06] agrabeli commented on #271
@sarathms I have edited the copy of the Overview paragraph in the relevant string (per these suggestions). Please update the deployment.

[2019-09-02 17:18] agrabeli commented on #270
@hellais yep. I just edited the overview paragraph to make it more concise (per feedback). This ticket proposes to move this paragraph to the top of the page.

[2019-09-02 18:00] agrabeli opened #281 "Fix filter for tested URLs in country page"
When exploring the measurements on the Websites section on the ET country page, I clicked on "Explore more measurements" under a tested URL (http://africanarguments.org/). I expected to get re-directed to the Search page and only view measurements filtered based on that URL.

Instead, I was re-directed to the Search page including what appears to be a random list of measured URLs (not filtered bas

[2019-09-03 10:17] agrabeli commented on #281
@sarathms @hellais I think this should be solved before we launch.

[2019-09-03 17:14] sarathms commented on #281
Looks like this is a problem at the API end. Searching with `input` parameter seems to be broken.

[Search link using `domain`](https://explorer-beta.ooni.io/search?until=2019-09-03&probe_cc=NG&test_name=web_connectivity&since=2019-08-18&domain=notjustok.com&probe_asn=37148) works as expected.

[Search link using `input`](https://explorer-beta.ooni.io/search?until=2019-09-03&probe_cc=NG&test_name=

[2019-09-03 17:16] hellais commented on #281
@sarathms it's an explorer issues.

Looking at the network inspector explorer is making a query with no input parameter:
![Screenshot 2019-09-03 at 19 15 57](https://user-images.githubusercontent.com/424620/64194379-4973b900-ce7f-11e9-84db-0f076529b182.png)

[2019-09-03 17:17] sarathms commented on #281
Another question in the context of #274 (Replace 'input' with 'domain') is how we handle the `Websites` section where we show URLs and not just domains. We cannot use the `domain` field when building the `Explore more measurements` search link because it wouldn't be accurate.

But when we retain the `input` field like before, it wouldn't help populate the `Domain` field in the sidebar, when you fo

[2019-09-03 17:20] sarathms commented on #281
So we are OK with showing more measurements in the search page when we click on the `Explore` button for e.g 'http://bbc.com/some/story' because the search page would show everything with `domain=bbb.com`

[2019-09-03 17:20] hellais commented on #281
I think the better of two evils is to link to the query with the domain field.

Ideally we would have also a URL field in the search box with API support for searching by URL (see: https://github.com/ooni/api/issues/52).

[2019-09-03 17:21] hellais commented on #281
Without making changes to the search page I think this is the only way to go about doing it for the time being.

Otherwise we are linking users to a page where they are not able to edit the search criteria which is not ideal.

[2019-09-04 11:14] agrabeli opened #282 "Link to test descriptions in measurement pages"
To enable users to learn more about the test (how it works, and its limitations) that each measurement is based on, it would be great if the test names in individual measurement pages linked to their respective test descriptions (available each here: https://ooni.io/nettest/).

For example, it would be great if "Web Connectivity Test" (illustrated in the measurement page below) linked to this: htt

[2019-09-04 14:45] agrabeli commented on #258
@hellais I think the pipeline bug is fixed? Can we close this ticket?

[2019-09-04 18:39] #274 closed

[2019-09-04 18:39] #281 closed

[2019-09-06 14:38] hellais opened #285 "Loading indefinitely when no data is available"
See our favourite source for no network data the indian ocean!

![Screenshot 2019-09-06 at 16 37 05](https://user-images.githubusercontent.com/424620/64436464-af9d4d80-d0c4-11e9-803f-039105467cb8.png)

[2019-09-10 15:17] agrabeli opened #288 "Filter Web Connectivity measurements based on categories"
Currently you can only filter measurements based on parameters like ASN (which is great!), date range, test name, etc.

It would be *fantastic* is we could filter Web Connectivity measurements based on *categories*. :)

I am referring to the Citizen Lab categories used in test lists: https://github.com/citizenlab/test-lists/blob/master/lists/00-LEGEND-new_category_codes.csv

[2019-09-10 15:19] hellais commented on #288
This is related to: https://github.com/ooni/explorer/issues/246

[2019-09-10 15:21] agrabeli opened #289 "Present list of "confirmed blocked sites" in an easy/quick way"
In the old OONI Explorer, users could "quickly and easily" view the full list of confirmed blocked sites (and links to their respective measurements) on the OONI Explorer country pages.

In the new OONI Explorer, users can only view confirmed blocked sites when filtering measurements based on different ASNs and navigating across many different pages.

It would be great if users are provided with t

[2019-09-10 15:21] #270 closed

[2019-09-10 15:21] #271 closed

[2019-09-10 15:22] #275 closed

[2019-09-10 15:59] #285 closed

[2019-09-10 16:01] hellais opened #291 "Add call to action to download OONI Probe when no data is available"
It was suggested by a community member that it would be useful to add a call to action on the country pages when no data is available.

In general we should also sprinkle call to actions to download OONI Probe in various other pages too.

[2019-09-10 16:12] sarathms opened #292 "Fix domain column in search for DNS consistency tests"
Results for DNS Consistency tests have badly formatted content in the `Domain/URL/Input` column as shown below.

![image](https://user-images.githubusercontent.com/700829/64630952-2f2c6480-d3c4-11e9-9981-d26f90fb6046.png)

[2019-09-10 16:24] hellais commented on #267
So I actually think this is an issue with OONI Explorer and it rendering the date of the measurement in the timezone of the user while it should instead be using UTC.

While we are working on fixing this I suggest we also add the time of the measurement in that page (this also would make understanding if this is the bug easier).

[2019-09-11 09:14] agrabeli commented on #291
@hellais this is excellent feedback, couldn't agree more.

In addition to an "Install OONI Probe" button, we may also want to include an OONI Run button so that people can coordinate testing when they're not physically in the country that they wish to get measurements from (for example, someone checks out the Burkina Faso country page and sees that there are no measurements for the resources they

[2019-09-11 09:18] agrabeli commented on #277
@hellais yes, agreed - this is great feedback. This would also help consolidate the experience with the apps, where users are exposed to test groups (rather than test names). If I recall correctly, we wanted to group the test names under test groups as part of the initial mockups, but this was not implemented in the end because it was unclear how to do it nicely from a design-perspective. It would

[2019-09-11 09:24] agrabeli commented on #291
Just came across this ticket which is very relevant and a really cool thing to do: https://github.com/ooni/explorer/issues/22

[2019-09-11 12:28] hellais opened #295 "URLs is wrongly formatted in DNS Consistency result row"
This issue arrises when clicking on one of the sample explorer queries in the highlights section:
https://explorer-beta.ooni.io/search?domain=www.facebook.com&probe_cc=UG&since=2016-02-01&until=2016-05-13

As you can see below the URL says `null//null`:
![Screenshot 2019-09-11 at 14 27 07](https://user-images.githubusercontent.com/424620/64697081-548ea080-d4a0-11e9-9b41-1310fdc83dc7.png)

[2019-09-11 13:28] hellais commented on #249
That sounds like a great suggestion, but it's significantly more effort and work than adding a simple timer.

I suggest you open another issuer for adding an illustration and we can do that at some even later stage than just adding a simple timer.

[2019-09-11 13:32] hellais commented on #277
As mentioned above we are going to opt in the first iteration for using a very simple `<optgroup> ` which is part of the HTML standard and does not require any specific design work (the element is not styleable).

No further design discussion or work is necessary to carry out the implementation of this issue.

[2019-09-11 14:15] agrabeli opened #296 "Query doesn't work"
This query doesn't seem to work (as it's loading indefinitely): http://explorer-beta.ooni.io/search?until=2019-09-11&domain=www.privateinternetaccess.com&probe_cc=HK

^^ @hellais

[2019-09-11 14:18] agrabeli commented on #296
Actually never mind, it now says "No results found" (presumably because the URL in question hasn't been tested in HK yet). There seems to be a bit of a performance issue in that it took long to render this result, in comparison to the old Explorer. I guess we could potentially close this ticket.

[2019-09-11 14:41] sarathms commented on #296
Let's close it until we see it happening again after the current backend optimization efforts are done.

[2019-09-11 14:41] #296 closed

[2019-09-11 16:35] hellais opened #297 "Fix fontsize of "We encourage you to explore""
In the landing page at the bottom the text says:

is in a tiny font:
![Screenshot 2019-09-11 at 18 30 41](https://user-images.githubusercontent.com/424620/64716565-e3141980-d4c2-11e9-8a99-fde13e834da1.png)

It should be the same as the sentence "OONI measurements ..."

[2019-09-12 08:12] agrabeli opened #298 "Update Search Tool image on landing page"
Currently the Search Tool image on the landing page is outdated as it's based on the UX of the old Search page.

![search](https://user-images.githubusercontent.com/8290574/64766117-c967e600-d545-11e9-8ccc-d6d8fac4c961.png)

Replace this image with a new one that reflects the new UX of the Search page.

[2019-09-12 10:15] agrabeli opened #299 "Copy edits based on community feedback"
We received community feedback a day ago on how to improve the copy in the new OONI Explorer. Since I am addressing all the feedback in one go, I am summarizing the feedback here in one ticket:

- [x]  Edit Search description on the landing page so that the language is simplified and words that are less obvious to a general audience are removed (such as "anomalies").

- [x] Edit summary text under

[2019-09-12 10:44] agrabeli opened #300 "Delete UG highlight from landing page"
The Highlights section of the new Explorer features a card on Uganda (social media censorship during 2016 elections), but the query doesn't work: https://explorer-beta.ooni.io/search?domain=facebook.com&probe_cc=UG&test_name=web_connectivity&since=2016-02-01&until=2016-05-13

I am 99% certain that this is related to a pipeline bug that resulted in these measurements from "disappearing" (although t

[2019-09-12 13:13] #300 closed, assigned to nobody

[2019-09-12 14:48] agrabeli opened #305 "Add UTC in measurement pages"
Currently it's unclear in measurement pages whether the referred time of testing is in the local timezone or in UTC. In fact, it's most likely to be read as being in the local timezone.

I therefore propose that UTC is displayed along with the time of testing in the measurement pages.

For example: On Sep 5, 2019 12:32 PM *UTC*, https://www.tunnelbear.com/ was accessible when tested on AS9500 in N

[2019-09-12 14:51] agrabeli opened #306 "Add UTC in Search page measurement results"
Currently the list of measurements in the Search page display the date and time of testing, but not the timezone.

It may be worth adding "UTC" right next to the time (as the measurements are displayed in the Search page: https://explorer.ooni.io/search) so that it's immediately clear which timezone we're referring to.

[2019-09-12 14:57] #306 closed, assigned to nobody

[2019-09-12 18:33] #299 closed, assigned to nobody

[2019-09-12 18:39] xhdix opened #313 "Improve validation of the date field"
## Expected Behavior
Show error like error in `Domain` Input

## Actual Behavior
Part of the JavaScript function crashes, and the page needs to be refreshed.

## Steps to Reproduce the Problem

  1. manually change the date

## Console Logs
[code]

[2019-09-13 09:36] elioqoshi opened #315 "Landing Page country highlights are not AA color accessibility compliant"
## Expected Behavior

The contrast ratio for normal text needs to be at least 4.5 to be WCAG AA compliant.

## Actual Behavior

The contrast ratio for normal text needs to be at least 4.5 which is not the case in the country highlight cards.

## Steps to Reproduce the Problem

Inspect the text on the country highlight cards with the accessibility inspector tool to identify the color contrast ratio

[2019-09-14 12:00] agrabeli opened #316 "Redirect new Explorer to the SSL version by default"
I guess this is quite self-explanatory (and it was pointed out by people on social media).

[2019-09-16 11:21] hellais commented on #316
It was kind-of done as a choice to not enforce HTTPS so as to support also older (or scripted) clients.

I think we should make this change only once we actually start serving or processing confidential information on OONI Explorer. As it is currently I am not sure we need to enforce HTTPS on the website.

[2019-09-16 11:22] #172 closed

[2019-09-16 14:47] hellais opened #317 "Add OONI Explorer version number to footer"
This could come from `package.json`.

[2019-09-16 14:48] hellais opened #318 "Add changelog"
It could follow the same format as: https://github.com/ooni/api/blob/master/ChangeLog.md which is https://keepachangelog.com/en/1.0.0/

[2019-09-16 14:48] hellais commented on #315
@elioqoshi what colors do you suggest as an alternative?

[2019-09-16 15:01] hellais opened #319 "Add support for sorting in the country list page"
It would be cool if we could sort the countries in the country list page by measurement count so that people can see which countries we have most coverage in.

[2019-09-16 19:28] sarathms opened #320 "Add an illustration to entertain users waiting for search queries"
_Originally posted by @agrabeli in https://github.com/ooni/explorer/issues/249#issuecomment-530297621_

[2019-09-18 20:47] xhdix opened #321 "Error after receive timeout error (json) from API: "There was an unexpected error from our end.""
## Expected Behavior
Show timeout error message

## Actual Behavior
Page crashed and displays an error:
[code]

## Steps to Reproduce the Problem

  1.  open: https://explorer.ooni.org/search?until=2019-09-18&domain=anidalton.blogfa.com&only=confirmed

## API response
[code]

[2019-09-19 13:53] sarathms commented on #321
You are right. The error page should be a bit more transparent.

[2019-09-19 13:58] sarathms commented on #259
These seem to be working now. @agrabeli can you also confirm this?

[2019-09-19 14:03] sarathms commented on #255
The link `href` was fixed in #251 but now the problem is remains but in a different way. Clicking the link, takes you to the right URL, but still shows the error page. Doesn't happen for **Page Not Found** (404) error pages.

[2019-09-19 15:23] xhdix commented on #321
What complicates the situation is the need to (1) return back and (2) refresh the page and (3) set the values again.

[2019-09-25 13:40] hellais commented on #321
Yes this sounds like something we want to do. I suggest we include as part of the error message also the full JSON response from the API server.

My suggestion is to check for the `detail` key, if it's present you should concatenate that array and add it as a `<p>` below the "There was an unexpected error from our end." string and then include below also inside of `<pre>` or code block styled elem

[2019-09-25 15:16] sarathms opened #324 "Cannot recover from error page"
## Expected Behavior
Should be able to navigate to links provided in the error page.

## Actual Behavior
Browser navigates to the linked URL, but doesn't render the page. In effect, continues to show the error page. Doesn't happen for `404` error pages. Only `5xx` errors.

## Steps to Reproduce the Problem

  1. Generate an unhandled exception (In dev env, just throw a `new Error()`)
  2. Click on

[2019-09-25 15:17] sarathms commented on #255
Closing this in favor of a more specific bug opened here #324

[2019-09-25 15:17] #255 closed

[2019-09-25 18:59] #321 closed

[2019-09-26 15:14] hellais opened #326 "Add matomo analytics code"
Similarly to how we track stats on our main website we should do it for OONI Explorer too.

It's a matter of adding to every page the following snippet:

[code]

The tracking code is configured to not store the full IPs of visits and respect do-not-track policies etc.

[2019-10-01 06:59] BhaveshSGupta commented on #326
I would like to try this one.

[2019-10-01 13:50] sarathms commented on #326
@BhaveshSGupta you are welcome to take this up.

I did a quick search and found [this package](https://github.com/Amsterdam/matomo-tracker/tree/master/packages/react) which provides a hook that can be useful to understand usage of specific parts of the site. It would be great if you can use it. Feel free to propose alternatives.

[2019-10-01 20:07] sarathms opened #330 "Add RSS feed to publish updates about detected censorship events"
When https://github.com/ooni/spec/issues/144 is done, we should be able to publish an RSS feed which user's can subscribe to receive updates about censorship events detected in our pipeline.

[2019-10-03 10:32] anadahz opened #331 "Lowercase of country name shows unexpected results"
The lowercase version of a country name in Explorer's URL is bringing out unexpected results:
`Since 1/1/1970, OONI Probe users in have collected 0 measurements from 0 local networks.`

However the flag of the country is correct.

## Steps to Reproduce the Problem

Visit Explorer's county profile with country's name in lowercase (eg. https://explorer.ooni.org/country/se)

## Expected behavior

Red

[2019-10-07 15:02] hellais opened #332 "Present findings in Explorer for Psiphon"
Depends on: https://github.com/ooni/pipeline/issues/234

[2019-10-07 15:14] hellais opened #333 "Present findings in Explorer for Tor"
Depends on: https://github.com/ooni/api/issues/118

[2019-10-07 15:19] hellais opened #334 "Present findings in Explorer for TCP bridge reachability"
Depends on: https://github.com/ooni/pipeline/issues/236

[2019-10-07 15:25] hellais opened #335 "Present findings in Explorer for obfs4proxy"
Depends on: https://github.com/ooni/pipeline/issues/237

[2019-10-10 16:04] elioqoshi commented on #315
@hellais you can input the current color and this tool gives you the closest accessible color code:
https://contrast-finder.tanaguru.com/result.html?foreground=%23249F40&background=%23FFFFFF&ratio=4.5&isBackgroundTested=false&algo=Rgb&distanceSort=asc

In the case of Iran, the green would become #3C8551

[2019-10-11 13:47] hellais commented on #315
I see now that the colors of these tiles are actually not taken from our design system. I wonder what the rational behind that was cc @holantonela.

Maybe it's wise to improve these by picking some colors which come from the color palette in our design system (see: design.ooni.io/colors).

FYI here is where all the colors are defined: https://github.com/ooni/explorer/blob/master/components/landing

[2019-10-11 17:14] holantonela commented on #315
Thanks Elio for reporting this! I inspected the entire site with [Firefox's a11y tool]( https://developer.mozilla.org/en-US/docs/Tools/Accessibility_inspector) (which is very cool tbh), and I found critical elements failing on color contrast tests, [like](https://user-images.githubusercontent.com/7602174/66670622-9b52f000-ec30-11e9-8b98-a6cbe6dc955d.png) [menu](https://user-images.githubuserconten

[2019-10-16 23:23] lucaspontoexe commented on #201
Can I work on it?

[2019-10-17 15:31] #18 closed

[2019-10-26 17:22] agrabeli opened #338 "Link to measurements on OONI Explorer Country pages"
The OONI Explorer country pages provide aggregate information (which is great!), but they no longer share the bulk of all individual measurements collected from that country. The old OONI Explorer used to do that, which is why I used to reference OONI Explorer country pages in research reports. Now, if I reference an OONI Explorer country page, it doesn't share the measurements collected from that

[2019-11-01 08:56] resistancecanyon commented on #75
@sarathms Isn't it safe to remove the getDerivedStateFromprops function alltogether?
The state transfer is not being used
Only the internal state
`      data: result.data,
      fetching: false
`
are used in this component
Besides `getDerivedStateFromprops` is now not recommended for most use cases in react.

[2019-11-05 18:51] sarathms commented on #75
You are right. It doesn't serve any purpose anymore. It was written as part of an older UX which we dropped along the way. I checked to confirm that removing it doesn't affect anything.

[2019-11-12 14:28] hellais opened #339 "Improve the error message for 500 series errors"
When a query times out we currently just say "We encountered an error please try again or the change the filters to get different results".

We should look into mapping the specific gateway timeout errors to something that is a bit more helpful and possibly propose a query that is known to work and/or link to the ooni.org/data page providing more information on how to download OONI data.

[2019-11-13 13:43] hellais commented on #15
I think we should re-evaluate this once we have a clearer idea of what users want and what is the feature we are trying to see based on some need.

This issue just speaks about a specific solution without stating the problem it's trying to solve.

[2019-11-13 13:43] #15 closed

[2019-11-13 13:44] hellais commented on #20
@sarathms can you confirm if this is in fact still the case or not?

[2019-11-13 13:45] hellais commented on #21
I believe we have completely deleted the globe code from the repo. We can close this issue.

[2019-11-13 13:45] #21 closed

[2019-11-13 13:47] hellais commented on #49
We may actually not even need to do this anymore with the fastpath as the results are going to be available as soon as the test is complete.

Would you say this is accurate @FedericoCeratto?

[2019-11-13 13:48] hellais commented on #74
Is this the same as: https://github.com/ooni/explorer/issues/20 or is it something different?

[2019-11-13 18:03] sarathms commented on #75
While this one was a trivial change (in #340), there are other places in the project where we used `getDerivedStateFromProps` which needs some careful refactoring. Opening another issue for that.

[2019-11-13 18:09] sarathms opened #341 "Examine usage of getDerivedStateFromProps and refactor if needed"
Related to [this comment](https://github.com/ooni/explorer/issues/75#issuecomment-548714596) on #75.

As described in the blog titled '[You Probably Don't Need Derived State](https://reactjs.org/blog/2018/06/07/you-probably-dont-need-derived-state.html)', the usage of `getDerivedStateFromProps` is prone to anti-patterns. We should examine if we made those mistakes (most likely we did) and correct

[2019-11-18 08:16] hellais commented on #256
This is because we only present measurements from the last 30 days inside of that section of the country page. It appears that the vanilla tor test has not been run in the last 30 days in Iran and hence it's not appearing there.

I am closing this as not a bug.

[2019-11-18 08:16] #256 closed

[2019-11-18 08:18] hellais commented on #222
We may want to look into something similar for probe-desktop as well.

[2019-11-18 08:18] hellais commented on #250
This is now implemented in the latest version of Explorer.

[2019-11-18 08:18] #250 closed

[2019-11-18 08:22] hellais opened #343 "Support filtering by software_name"
It was requested that we add support for filtering by "software_name" so that a user could search for measurements from ooniprobe-ios, ooniprobe-android or just ooniprobe (desktop).

Also, it's just one of the clues to distinguish landline from mobile network that was actual Sukarn's meta-request.

[2019-11-18 08:31] hellais commented on #258
Yes this is fixed. Closing.

[2019-11-18 08:31] #258 closed

[2019-11-18 08:32] hellais commented on #259
Yes these search queries work now. Closing.

[2019-11-18 08:32] #259 closed

[2019-11-18 08:43] hellais commented on #261
Yes I think you are right, though let's also not forget to:

1. Setup auto-update of the data, see: https://github.com/ooni/pipeline/issues/78
2. Add mention to when it was last synched
3. Credit MLab as the data source of this data

[2019-11-18 08:47] hellais commented on #278
Is this still an issue or has it been fixed?

[2019-11-18 08:49] hellais commented on #288
This also requires some pipeline related changes in order to ingest the category codes for URLs and support filtering for it.
cc @FedericoCeratto

It's a pretty large feature. I will make this an epic.

[2019-11-18 08:57] hellais commented on #313
I believe this is related to lack of validation in the from and until fields.

Since this issue was filed some minimal validation was added (for example you cannot filter by something which is clearly not a date, like a set of random characters), however it still fails when you input something like `201910` which is accepted as a date by the client-side validation code, but not by the API backend.

[2019-11-18 09:01] hellais commented on #315
I think maybe we can file a new issue on the design-system repo to make these accessibility related improvements, but also keep this issue open so that we don't forget to update the colors of the cards on the Explorer landing page too.

See: https://github.com/ooni/design-system/issues/70

[2019-11-18 09:02] hellais commented on #316
This issue belongs in the `ooni/sysadmin` repo. Moving it there.

[2019-11-18 09:05] hellais commented on #331
This is a duplicate of: https://github.com/ooni/explorer/issues/164

[2019-11-18 09:05] #331 closed

[2019-11-18 09:19] willscott opened #344 "Easier exploration of reports by a specific probe"
It would be useful to get an overview of reports by a specific probe. Especially as users begin to run lepidopter, such a view will be useful for monitoring the continued functioning of a headless device.

It would be great to condense the measurements, since a single run of the deck will result in many hundreds of reports. Instead, the useful information for a probe are (a) the times when the mos

[2019-11-18 09:20] willscott opened #345 "Support Filtering by annotation"
Reports can be submitted with user-attached annotations. We should allow filtering on that attribute, so that we can get a sense of e.g. active lepidopters.

[2019-11-18 09:20] hellais opened #346 "Integrate press freedom index data from Freedom House"
We should have inside of the country specific views also the press freedom index value for each country scraped from: https://freedomhouse.org/report/freedom-press/freedom-press-2016.

[2019-11-18 21:50] #330 closed

[2019-11-18 21:51] #75 closed

[2019-11-19 07:27] xhdix commented on #313
@hellais I think @sarathms  has solved this. I am right?

[2019-11-19 09:03] hellais commented on #313
To some extent some validation has been added, however there are still some cases which are not handled properly.

For example:

https://explorer.ooni.org/search?until=2019-11-19&since=201901

results in:

![Screenshot 2019-11-19 at 10 01 54](https://user-images.githubusercontent.com/424620/69132126-c512f880-0ab3-11ea-8fbe-bcd4be1d032e.png)

[2019-11-20 18:09] sarathms commented on #20
Since we changed the UI for the search page, this problem isn't that common anymore. When a query is in progress, the user can work the filters, but those actions don't trigger API requests until the user hits the button.

But when the button is clicked, a new API request is created while the previous one is still active. I think we should terminate the older request at this point and then start t

[2019-11-20 18:11] sarathms commented on #74
They are related but not the same. I opened this as a general best practice to cancel requests started by components which are about to unmount from the DOM tree.

[2019-11-20 18:14] #317 closed

[2019-11-20 20:50] #305 closed

[2019-11-20 21:34] #201 closed

[2019-11-22 17:38] sarathms opened #350 "API requests launched twice on client side"
State changes in components wired to API requests seem to trigger duplicate requests. This needs to be investigated and fixed if relevant. For example, the search form.

[2019-11-28 22:22] anadahz opened #352 "Explorer should publish measurements from the fastpath"
## Expected Behavior

RSS feed URLs should link to the correct URLs.

## Actual Behavior

Wrong explorer URLs in RSS feeds

## Steps to Reproduce the Problem

  1. Visit any link from the RSS feed: https://explorer.ooni.org/rss/global.xml

[2019-11-29 11:43] hellais commented on #352
You are likely seeing those links not working because they are for measurements that are inside of the fastpath and those are not yet deployed on the public API, hence not available in explorer.

Here is the issue for that: https://github.com/ooni/sysadmin/issues/394

[2019-12-04 17:00] xhdix opened #354 "Ability to search for IP"
These four URLs cannot be searched in explorer:
https://github.com/citizenlab/test-lists/blob/master/lists/global.csv#L1148-L1151

The problem is from the frontend.
http://explorer.ooni.org/search?until=2019-12-04&domain=1.1.1.1&test_name=web_connectivity&since=2019-11-01

## Expected Behavior
Ability to search for IP

## Actual Behavior
error: `Please enter a valid domain name, such as twitter.co

[2019-12-05 07:07] #350 closed

[2019-12-06 14:54] agrabeli opened #355 "Conflirmed filter doesn't work"
We were notified by community members that the Confirmed filter on OONI Explorer doesn't work.

The example they showed was based on filtering for Iraq and Confirmed, which only showed the most recent measurements (from all tests), irrespective of testing status.

I just checked and can confirm that this query doesn't work: http://explorer.ooni.org/search?until=2019-12-06&probe_cc=IQ&only=confirme

[2019-12-06 15:35] agrabeli commented on #339
@hellais @sarathms I propose that we add the following text as an error message (and remove the Octopus illustration, so that it's only present in the "No Results found" error pages):

Dear Oonitarian,

Thank you for using OONI Explorer!

Unfortunately OONI Explorer is currently experiencing performance issues, which we're working on fixing.

In the meanwhile, please explore OONI measurements with

[2019-12-06 15:36] agrabeli commented on #339
@hellais As a side-note based on the above: I didn't include a link to a query that "always works" because I'm unsure which query works in all circumstances (given that I frequently come across 500 and 504 errors when querying OONI Explorer).

[2019-12-07 22:38] xhdix commented on #355
And the result of all measurements is `accessible`. (in search page)

[2019-12-07 23:08] xhdix opened #356 "Fail to display the measurements with IP address"
When the `input` parameter value is IP, the `Status Code: 500 Internal Server Error` occurs.

failed:
http://explorer.ooni.org/measurement/20191205T221330Z_AS12880_EQMMhHqRhRQ9zpM74QCIh055mmnPOGRVsqaRM5JjcJPkXLipBr?input=https://9.9.9.9/dns-query?dns=q80BAAABAAAAAAAAA3d3dwdleGFtcGxlA2NvbQAAAQAB

http://explorer.ooni.org/measurement/20191205T221537Z_AS44244_NbZ6i06wRO6OQorMyagz5XRybCMQfQNNqaVeQvsHl

[2019-12-09 15:51] hellais commented on #355
A fix for this has been implemented and shipped.

See: https://github.com/ooni/api/pull/140

[2019-12-09 15:51] #355 closed

[2019-12-10 11:56] anadahz opened #357 "False negative: Website Down"
This measurement shows a false negative `Website Down`:
https://explorer.ooni.org/measurement/20181229T222620Z_AS8151_79AhMRoih6HBS36KSIQM0SJmmuqimZSUW4tG83SVagu2cxlH6d?input=http://199.58.81.140/tor/status-vote/current/consensus.z

[2019-12-10 11:59] anadahz opened #358 "500 error when accessing measurements with missing test_keys->queries"
http://explorer.ooni.org/measurement/20190208T205844Z_AS8151_W9nWn2htXTMopfAZhMDuD5BebiDFOykWywcOrH7J7J4zOe9mDc?input=http://199.58.81.140/tor/status-vote/current/consensus.z

http://explorer.ooni.org/measurement/20190208T201519Z_AS8151_DfGKQsHuCJLis744rHL0TDTB0SxehjjPbu6YZZSv0vRgQQSASz?input=http://199.58.81.140/tor/status-vote/current/consensus.z

[2019-12-10 13:39] hellais commented on #358
@sarathms I was able to reproduce this locally.

The stack trace of the exception is the following:

[code]

[2019-12-10 15:02] anadahz opened #359 "Wrong list of measurements for domain set in query"
## Expected Behavior
Explorer should list measurements with the correct domain set in query.

## Actual Behavior
Explorer lists unrelated measurements with the correct domain set in query.

## Steps to Reproduce the Problem

  1. Search for the domain `google.com` in explorer (Query: http://explorer.ooni.org/search?until=2019-12-09&domain=google.com&probe_cc=CA&test_name=web_connectivity&since=201

[2019-12-11 16:48] hellais commented on #359
This has been fixed in: https://github.com/ooni/api/pull/144 (and is duplicate of: https://github.com/ooni/api/issues/142)

[2019-12-11 16:48] #359 closed

[2019-12-12 16:29] anadahz opened #360 "Anomaly indicator in the search results is inconsistent with the anomaly status in the measurement page"
This example search query should list only anomalies: https://explorer.ooni.org/search?until=2019-12-12&probe_cc=CL&only=anomalies

Instead it lists measurements with `OK` status:
https://explorer.ooni.org/measurement/20191211T061838Z_AS27651_1SFSzDEdaOI7luf7GKijq5OFWLzsZW8VjaFgI0mQrenC3Z0Zqy?input=https://kids.yahoo.com/

[2019-12-12 20:53] hellais commented on #360
@anadahz can you share a screenshot?

[2019-12-12 21:06] anadahz commented on #360
![cl_anomalies](https://user-images.githubusercontent.com/4969544/70749012-2c267480-1d23-11ea-9dec-6e22cb370666.png)
![cl_kids yahoo](https://user-images.githubusercontent.com/4969544/70749013-2c267480-1d23-11ea-861f-7a4e5514c068.png)

[2019-12-12 23:22] FedericoCeratto commented on #360
For https://explorer.ooni.org/measurement/20191210T135558Z_AS14117_Z7fu65vUWmKbikKKf5djOacxXfFiXfhHktqOQExdl6TmB9dAWl?input=https://www.uber.com/ fastpath reports blocking_general = 0.5 approx

[2019-12-13 10:12] hellais commented on #360
Ok I understand now what you mean. I updated the issue title to reflect this.

I believe the `anomaly` value is determined from what is returned by the API in the listing, while the status on the page is based on client side calculation. @sarathms is this the case?

If so we should probably derive the `anomaly` value in the measurement pages from the same source as we derive the search results to